In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 16
### Team Member Names: Stephen Chen, Bhavya Shah, Alex Liu
### Team Strategy Chosen: RISKY?__________(RISKY OR SAFE)

In [2]:
# Importing csv file with tickers and reformatting dataframe
ticker_list = pd.read_csv("Sample Tickers.csv")
add_columns = pd.DataFrame({ticker_list.columns[0]:ticker_list.columns[0]}, index=[len(ticker_list)])
ticker_list = ticker_list.append(add_columns)
ticker_list.columns=['Tickers']

In [3]:
# displaying the list of tickers
ticker_list

   Tickers
0    ENFAU
1      UVE
2     OPOF
3     CRSP
4     REGN
5     RPRX
6     SAGE
7     MRNA
8      BNR
9     ENPH
10    SEDG
11    FSLR
12     APA
13    FANG
14     JPM
15     BAC
16     WFC
17      MS
18    AAPL
19    MSFT
20    GOOG
21    MTCH
22      EA
23     PLD
24    INVH
25      WY
26     ARE
27     UPS
28     HON
29     RTX
30      DE
31     CAT
32    AFRM
33    INFY
34     FIS
35     ACN
36     IBM
37     DLB
38       D
39     XEL
40     FTS
41     AGR
42     PPL
43    NFLX
44     DIS
45   CMCSA
46      VZ
47       T
48     ECL
49     APD
50     BBL
51     DOW
52     NEM
53    COST
54      PG
55     PEP
56      EL
57     HLF
58    IRBT

In [4]:
# identifying American stocks, converting tickers to American (if possible)
for i in range(0, len(ticker_list)):
    ticker = str(ticker_list.iloc[i, 0])
    
    # finds the period in the stock tickers
    get_position = ticker.find('.')
    
    # if there is a period in the string (meaning that it's not an American stock)
    if (get_position != -1):
        ticker_list.iloc[i, 0] = ticker[:get_position]

In [5]:
sector_list = pd.DataFrame(columns = ['Sectors'])

# function that determines the standard deviation of each stock
def get_deviation(ticker):
    stock_ticker = ticker
    stock_hist = stock_ticker.history(start='2019-01-01', end='2021-07-01')
    stock_close = stock_hist['Close']
    
    # grouping Close prices by months
    stock_close.index = pd.to_datetime(stock_close.index)
    monthly_close = stock_close.groupby(stock_close.index.to_period('m')).head(1)

    # returning the standard deviation based off of percent change
    return (monthly_close.pct_change()*100).std()

i = 0

for i in range (len(ticker_list)):
    stock = yf.Ticker(ticker_list.iloc[i, 0])
    sector = stock.info.get('sector')
    add_data = pd.DataFrame({'Sectors':sector,
                             'Standard Deviation': get_deviation(stock)},index=[i])
    sector_list = sector_list.append(add_data)

In [6]:
sector_list

                   Sectors  Standard Deviation
0       Financial Services            1.265157
1       Financial Services            9.591690
2       Financial Services            9.819563
3               Healthcare           19.878907
4               Healthcare           10.685695
5               Healthcare            7.964050
6               Healthcare           21.893959
7               Healthcare           29.557239
8               Healthcare           14.742936
9               Technology           25.089947
10              Technology           16.550347
11              Technology           13.744463
12                  Energy           40.706368
13                  Energy           21.792214
14      Financial Services            9.198505
15      Financial Services           10.704365
16      Financial Services           11.461630
17      Financial Services           11.786987
18              Technology           10.793171
19              Technology            6.181565
20  Communication Services            8.292007
21  Communication Services           11.158576
22  Communication Services            6.754570
23             Real Estate            7.375227
24             Real Estate            9.001291
25             Real Estate           12.459817
26             Real Estate            6.345774
27             Industrials            9.123710
28             Industrials            7.298749
29             Industrials           10.057362
30             Industrials            9.367448
31             Industrials            8.220692
32              Technology           12.574363
33              Technology            9.887727
34              Technology            8.170227
35              Technology            7.287930
36              Technology            8.185418
37              Technology            8.202134
38               Utilities            5.755643
39               Utilities            5.699939
40               Utilities            4.951813
41               Utilities            6.203749
42               Utilities            7.565458
43  Communication Services            8.848697
44  Communication Services           10.472237
45  Communication Services            7.988794
46  Communication Services            3.829260
47  Communication Services            6.314876
48         Basic Materials            9.156488
49         Basic Materials            6.930421
50         Basic Materials           10.700213
51         Basic Materials           12.375451
52         Basic Materials            9.044090
53      Consumer Defensive            4.893259
54      Consumer Defensive            4.337722
55      Consumer Defensive            4.903556
56      Consumer Defensive            8.412227
57      Consumer Defensive           12.252129
58              Technology           19.867428

In [7]:
ticker_list = pd.concat([ticker_list, sector_list], join='inner',axis=1)

In [8]:
ticker_list = ticker_list[ticker_list.Sectors.notnull()]
ticker_list.set_index('Sectors', inplace=True)

In [9]:
ticker_list

                       Tickers  Standard Deviation
Sectors
Financial Services       ENFAU            1.265157
Financial Services         UVE            9.591690
Financial Services        OPOF            9.819563
Healthcare                CRSP           19.878907
Healthcare                REGN           10.685695
Healthcare                RPRX            7.964050
Healthcare                SAGE           21.893959
Healthcare                MRNA           29.557239
Healthcare                 BNR           14.742936
Technology                ENPH           25.089947
Technology                SEDG           16.550347
Technology                FSLR           13.744463
Energy                     APA           40.706368
Energy                    FANG           21.792214
Financial Services         JPM            9.198505
Financial Services         BAC           10.704365
Financial Services         WFC           11.461630
Financial Services          MS           11.786987
Technology                AAPL           10.793171
Technology                MSFT            6.181565
Communication Services    GOOG            8.292007
Communication Services    MTCH           11.158576
Communication Services      EA            6.754570
Real Estate                PLD            7.375227
Real Estate               INVH            9.001291
Real Estate                 WY           12.459817
Real Estate                ARE            6.345774
Industrials                UPS            9.123710
Industrials                HON            7.298749
Industrials                RTX           10.057362
Industrials                 DE            9.367448
Industrials                CAT            8.220692
Technology                AFRM           12.574363
Technology                INFY            9.887727
Technology                 FIS            8.170227
Technology                 ACN            7.287930
Technology                 IBM            8.185418
Technology                 DLB            8.202134
Utilities                    D            5.755643
Utilities                  XEL            5.699939
Utilities                  FTS            4.951813
Utilities                  AGR            6.203749
Utilities                  PPL            7.565458
Communication Services    NFLX            8.848697
Communication Services     DIS           10.472237
Communication Services   CMCSA            7.988794
Communication Services      VZ            3.829260
Communication Services       T            6.314876
Basic Materials            ECL            9.156488
Basic Materials            APD            6.930421
Basic Materials            BBL           10.700213
Basic Materials            DOW           12.375451
Basic Materials            NEM            9.044090
Consumer Defensive        COST            4.893259
Consumer Defensive          PG            4.337722
Consumer Defensive         PEP            4.903556
Consumer Defensive          EL            8.412227
Consumer Defensive         HLF           12.252129
Technology                IRBT           19.867428

In [10]:
# dropping stocks that have insufficient data

# creating a duplicate ticker list to transform
duplicate_list = ticker_list.copy()

# resetting the index of the duplicate list
duplicatelist.reset_index(inplace=True)

# list of indices to drop later
drop = []

In [11]:
# Apple is a company that has sufficient stock information. We use Apple as a reference for how many entries of information a stock should have.

# getting the ticker, history and close price information of Apple
apple = yf.Ticker('AAPL')
apple_hist = apple.history(start="2019-01-01", end="2021-01-01")
apple_close = apple_hist['Close']

# getting the length of the Close Price of Apple Dataframe (this is how much data should be in each dataframe)
desired_length = len(apple_close)

In [12]:
# for-loop to check each stock to see if they have a sufficient amount of data
for i in range (0, len(ticker_list)):
    
    # getting the ticker, ticker history and close price information of each stock.
    ticker = yf.Ticker(ticker_list.iloc[i, 0])
    t_hist = ticker.history(start="2019-01-01", end="2021-01-01")
    ticker_close = t_hist['Close']
    
    # if there is an insufficient amount of data, append to the list of indices to be dropped
    if (len(ticker_close) != desired_length):
        drop.append(duplicate_list.index[i])

- ENFAU: Data doesn't exist for startDate = 1546318800, endDate = 1609477200
- AFRM: Data doesn't exist for startDate = 1546318800, endDate = 1609477200

In [13]:
# dropping the stocks with an insufficient amount of information
duplicate_list.drop(drop, inplace=True)

# re-indexing and re-formatting the duplicate dataframe
duplicate_list.index = duplicate_list['Sectors']
duplicate_list.drop(columns=['Sectors'], inplace=True)

# removing the undesired stocks from the ticker list
ticker_list = duplicate_list

In [14]:
# displaying the ticker list
ticker_list

                       Tickers  Standard Deviation
Sectors
Financial Services         UVE            9.591690
Healthcare                CRSP           19.878907
Healthcare                REGN           10.685695
Healthcare                SAGE           21.893959
Healthcare                MRNA           29.557239
Technology                ENPH           25.089947
Technology                SEDG           16.550347
Technology                FSLR           13.744463
Energy                     APA           40.706368
Energy                    FANG           21.792214
Financial Services         JPM            9.198505
Financial Services         BAC           10.704365
Financial Services         WFC           11.461630
Financial Services          MS           11.786987
Technology                AAPL           10.793171
Technology                MSFT            6.181565
Communication Services    GOOG            8.292007
Communication Services    MTCH           11.158576
Communication Services      EA            6.754570
Real Estate                PLD            7.375227
Real Estate               INVH            9.001291
Real Estate                 WY           12.459817
Real Estate                ARE            6.345774
Industrials                UPS            9.123710
Industrials                HON            7.298749
Industrials                RTX           10.057362
Industrials                 DE            9.367448
Industrials                CAT            8.220692
Technology                INFY            9.887727
Technology                 FIS            8.170227
Technology                 ACN            7.287930
Technology                 IBM            8.185418
Technology                 DLB            8.202134
Utilities                    D            5.755643
Utilities                  XEL            5.699939
Utilities                  FTS            4.951813
Utilities                  AGR            6.203749
Utilities                  PPL            7.565458
Communication Services    NFLX            8.848697
Communication Services     DIS           10.472237
Communication Services   CMCSA            7.988794
Communication Services      VZ            3.829260
Communication Services       T            6.314876
Basic Materials            ECL            9.156488
Basic Materials            APD            6.930421
Basic Materials            BBL           10.700213
Basic Materials            NEM            9.044090
Consumer Defensive        COST            4.893259
Consumer Defensive          PG            4.337722
Consumer Defensive         PEP            4.903556
Consumer Defensive          EL            8.412227
Consumer Defensive         HLF           12.252129
Technology                IRBT           19.867428

In [15]:
# placeholder volume column
ticker_list["Volume"] = None

# loop to calculate the average daily volume of each stock
for i in range (0, len(ticker_list)):
    
    # getting the number of days between June 2, 2021 and October 22, 2021
    num_days = int(str(pd.to_datetime('2021-07-02') - pd.to_datetime('2021-10-22'))[1:4])
    
    # getting each ticker's information
    ticker = yf.Ticker(ticker_list.iloc[i, 0])
    ticker_hist = ticker.history(start="2021-07-02", end="2021-10-22")
    ticker_volume = ticker_hist['Volume'].sum()/num_days
    ticker_list.iloc[i, -1] = ticker_volume
    
# filtering for the tickers that fit our requirement
ticker_list = ticker_list[(ticker_list["Volume"] > 10000)]

In [16]:
def sort_list (industry_list, industry):
    industry_list = ticker_list.filter(like = industry, axis=0)
    industry_list = industry_list.sort_values(by=['Standard Deviation'], ascending = False)
    return industry_list

In [17]:
energy_list = sort_list (ticker_list, 'Energy')
energy_list

        Tickers  Standard Deviation          Volume
Sectors
Energy      APA           40.706368  6199122.321429
Energy     FANG           21.792214  1760363.392857

In [18]:
financial_list = sort_list (ticker_list, 'Financial Services') 
financial_list

                   Tickers  Standard Deviation           Volume
Sectors
Financial Services      MS           11.786987   5997000.892857
Financial Services     WFC           11.461630  18843551.785714
Financial Services     BAC           10.704365  33489260.714286
Financial Services     UVE            9.591690          94512.5
Financial Services     JPM            9.198505   7968159.821429

In [19]:
tech_list = sort_list (ticker_list, 'Technology')
tech_list

           Tickers  Standard Deviation           Volume
Sectors
Technology    ENPH           25.089947   1315490.178571
Technology    IRBT           19.867428    303866.071429
Technology    SEDG           16.550347         420087.5
Technology    FSLR           13.744463   1233092.857143
Technology    AAPL           10.793171  55696846.428571
Technology    INFY            9.887727   4619625.892857
Technology     DLB            8.202134    245391.071429
Technology     IBM            8.185418   3291941.339286
Technology     FIS            8.170227   2272419.642857
Technology     ACN            7.287930   1248614.285714
Technology    MSFT            6.181565  15980571.428571

In [20]:
healthcare_list = sort_list (ticker_list, 'Healthcare')
healthcare_list

           Tickers  Standard Deviation           Volume
Sectors
Healthcare    MRNA           29.557239  12312961.607143
Healthcare    SAGE           21.893959    408834.821429
Healthcare    CRSP           19.878907    866942.857143
Healthcare    REGN           10.685695         525787.5

In [21]:
estate_list = sort_list (ticker_list, 'Real Estate')
estate_list

            Tickers  Standard Deviation          Volume
Sectors
Real Estate      WY           12.459817  2614102.678571
Real Estate    INVH            9.001291  2647436.607143
Real Estate     PLD            7.375227  1583982.142857
Real Estate     ARE            6.345774   468623.214286

In [22]:
industry_list = sort_list (ticker_list, 'Industrials')
industry_list

            Tickers  Standard Deviation          Volume
Sectors
Industrials     RTX           10.057362  3280591.071429
Industrials      DE            9.367448      1077456.25
Industrials     UPS            9.123710  1871184.821429
Industrials     CAT            8.220692  2384585.714286
Industrials     HON            7.298749  1806290.178571

In [23]:
utilities_list = sort_list(ticker_list, 'Utilities')
utilities_list

          Tickers  Standard Deviation          Volume
Sectors
Utilities     PPL            7.565458  3058130.357143
Utilities     AGR            6.203749   360549.107143
Utilities       D            5.755643  2248659.821429
Utilities     XEL            5.699939  2043875.892857
Utilities     FTS            4.951813   228649.107143

In [24]:
communication_list = sort_list(ticker_list,'Communication Services')
communication_list

                       Tickers  Standard Deviation           Volume
Sectors
Communication Services    MTCH           11.158576       2588818.75
Communication Services     DIS           10.472237   6022864.285714
Communication Services    NFLX            8.848697   2572834.821429
Communication Services    GOOG            8.292007    723633.035714
Communication Services   CMCSA            7.988794      10583018.75
Communication Services      EA            6.754570   1809875.892857
Communication Services       T            6.314876      24657718.75
Communication Services      VZ            3.829260  11538028.571429

In [25]:
materials_list = sort_list(ticker_list,'Basic Materials')
materials_list

                Tickers  Standard Deviation          Volume
Sectors
Basic Materials     BBL           10.700213  1752149.107143
Basic Materials     ECL            9.156488   643558.928571
Basic Materials     NEM            9.044090  3844217.857143
Basic Materials     APD            6.930421   660522.321429

In [26]:
consumer_list = sort_list(ticker_list,'Consumer Defensive')
consumer_list

                   Tickers  Standard Deviation          Volume
Sectors
Consumer Defensive     HLF           12.252129   709547.321429
Consumer Defensive      EL            8.412227       699956.25
Consumer Defensive     PEP            4.903556  2789961.607143
Consumer Defensive    COST            4.893259  1203228.571429
Consumer Defensive      PG            4.337722  4636135.714286

In [27]:
# getting the list of the sectors
sectors_list = [energy_list, financial_list, tech_list, healthcare_list, estate_list, industry_list, utilities_list, communication_list, materials_list, consumer_list]

In [28]:
# filter out sectors without any stocks
filtered_sectors_list = []

# for-loop to get rid of any sectors without any stocks in them (lowers run-time)
for i in range (0, len(sectors_list)):
    
    # if the sector list isn't empty, add the sector to the filtered list
    if (len(sectors_list[i]) != 0):
        filtered_sectors_list.append(sectors_list[i])

In [29]:
# find the sector with the highest standard deviation
def find_highest_sector_deviation(list_of_sectors):
    
    sector_deviation = []
    
    # list of sectors isn't empty
    if (len(list_of_sectors) != 0):
        
        # temporary variables for the highest deviation, along with the sector with the highest deviation
        highest_deviation = -100000000
        highest_deviation_sector = None
    
        # for-loop which loops through each sector
        for i in range (0, len(list_of_sectors)):
    
            # temporary dataframe to store values
            temp = pd.DataFrame()
    
            # dataframe with each stock in a specific sector
            sector = list_of_sectors[i]
            
            # getting the average deviation of each stock/standard deviation of the sector
            temp_deviation = sector['Standard Deviation'].sum()/len(sector)
    
            # determining if that sector has the highest deviation or not, if it is, change the values
            if (temp_deviation > highest_deviation):
                highest_deviation = temp_deviation
                highest_deviation_sector = sector
                
            sector_deviation.append([sector.index[0], temp_deviation])
        
        # return the sector with the highest deviation
        return highest_deviation_sector, sector_deviation
    
    # list of sectors is empty
    else:
        
        # return 0
        return 0

In [30]:
filtered_sectors_list

[        Tickers  Standard Deviation          Volume
 Sectors
 Energy      APA           40.706368  6199122.321429
 Energy     FANG           21.792214  1760363.392857,
                    Tickers  Standard Deviation           Volume
 Sectors
 Financial Services      MS           11.786987   5997000.892857
 Financial Services     WFC           11.461630  18843551.785714
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     UVE            9.591690          94512.5
 Financial Services     JPM            9.198505   7968159.821429,
            Tickers  Standard Deviation           Volume
 Sectors
 Technology    ENPH           25.089947   1315490.178571
 Technology    IRBT           19.867428    303866.071429
 Technology    SEDG           16.550347         420087.5
 Technology    FSLR           13.744463   1233092.857143
 Technology    AAPL           10.793171  55696846.428571
 Technology    INFY            9.887727   4619625.892857
 Technology     DLB            8.202134    245391.071429
 Technology     IBM            8.185418   3291941.339286
 Technology     FIS            8.170227   2272419.642857
 Technology     ACN            7.287930   1248614.285714
 Technology    MSFT            6.181565  15980571.428571,
            Tickers  Standard Deviation           Volume
 Sectors
 Healthcare    MRNA           29.557239  12312961.607143
 Healthcare    SAGE           21.893959    408834.821429
 Healthcare    CRSP           19.878907    866942.857143
 Healthcare    REGN           10.685695         525787.5,
             Tickers  Standard Deviation          Volume
 Sectors
 Real Estate      WY           12.459817  2614102.678571
 Real Estate    INVH            9.001291  2647436.607143
 Real Estate     PLD            7.375227  1583982.142857
 Real Estate     ARE            6.345774   468623.214286,
             Tickers  Standard Deviation          Volume
 Sectors
 Industrials     RTX           10.057362  3280591.071429
 Industrials      DE            9.367448      1077456.25
 Industrials     UPS            9.123710  1871184.821429
 Industrials     CAT            8.220692  2384585.714286
 Industrials     HON            7.298749  1806290.178571,
           Tickers  Standard Deviation          Volume
 Sectors
 Utilities     PPL            7.565458  3058130.357143
 Utilities     AGR            6.203749   360549.107143
 Utilities       D            5.755643  2248659.821429
 Utilities     XEL            5.699939  2043875.892857
 Utilities     FTS            4.951813   228649.107143,
                        Tickers  Standard Deviation           Volume
 Sectors
 Communication Services    MTCH           11.158576       2588818.75
 Communication Services     DIS           10.472237   6022864.285714
 Communication Services    NFLX            8.848697   2572834.821429
 Communication Services    GOOG            8.292007    723633.035714
 Communication Services   CMCSA            7.988794      10583018.75
 Communication Services      EA            6.754570   1809875.892857
 Communication Services       T            6.314876      24657718.75
 Communication Services      VZ            3.829260  11538028.571429,
                 Tickers  Standard Deviation          Volume
 Sectors
 Basic Materials     BBL           10.700213  1752149.107143
 Basic Materials     ECL            9.156488   643558.928571
 Basic Materials     NEM            9.044090  3844217.857143
 Basic Materials     APD            6.930421   660522.321429,
                    Tickers  Standard Deviation          Volume
 Sectors
 Consumer Defensive     HLF           12.252129   709547.321429
 Consumer Defensive      EL            8.412227       699956.25
 Consumer Defensive     PEP            4.903556  2789961.607143
 Consumer Defensive    COST            4.893259  1203228.571429
 Consumer Defensive      PG            4.337722  4636135.714286]

In [31]:
filtered_sectors_list[3]

           Tickers  Standard Deviation           Volume
Sectors
Healthcare    MRNA           29.557239  12312961.607143
Healthcare    SAGE           21.893959    408834.821429
Healthcare    CRSP           19.878907    866942.857143
Healthcare    REGN           10.685695         525787.5

In [32]:
high_deviation_sector = find_highest_sector_deviation(filtered_sectors_list)[0]
high_deviation_sector

        Tickers  Standard Deviation          Volume
Sectors
Energy      APA           40.706368  6199122.321429
Energy     FANG           21.792214  1760363.392857

In [33]:
new_filtered = []

for i in range (0, len(filtered_sectors_list)):
    if (filtered_sectors_list[i].index[0] != high_deviation_sector.index[0]):
        new_filtered.append(filtered_sectors_list[i])

new_filtered

[                   Tickers  Standard Deviation           Volume
 Sectors
 Financial Services      MS           11.786987   5997000.892857
 Financial Services     WFC           11.461630  18843551.785714
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     UVE            9.591690          94512.5
 Financial Services     JPM            9.198505   7968159.821429,
            Tickers  Standard Deviation           Volume
 Sectors
 Technology    ENPH           25.089947   1315490.178571
 Technology    IRBT           19.867428    303866.071429
 Technology    SEDG           16.550347         420087.5
 Technology    FSLR           13.744463   1233092.857143
 Technology    AAPL           10.793171  55696846.428571
 Technology    INFY            9.887727   4619625.892857
 Technology     DLB            8.202134    245391.071429
 Technology     IBM            8.185418   3291941.339286
 Technology     FIS            8.170227   2272419.642857
 Technology     ACN            7.287930   1248614.285714
 Technology    MSFT            6.181565  15980571.428571,
            Tickers  Standard Deviation           Volume
 Sectors
 Healthcare    MRNA           29.557239  12312961.607143
 Healthcare    SAGE           21.893959    408834.821429
 Healthcare    CRSP           19.878907    866942.857143
 Healthcare    REGN           10.685695         525787.5,
             Tickers  Standard Deviation          Volume
 Sectors
 Real Estate      WY           12.459817  2614102.678571
 Real Estate    INVH            9.001291  2647436.607143
 Real Estate     PLD            7.375227  1583982.142857
 Real Estate     ARE            6.345774   468623.214286,
             Tickers  Standard Deviation          Volume
 Sectors
 Industrials     RTX           10.057362  3280591.071429
 Industrials      DE            9.367448      1077456.25
 Industrials     UPS            9.123710  1871184.821429
 Industrials     CAT            8.220692  2384585.714286
 Industrials     HON            7.298749  1806290.178571,
           Tickers  Standard Deviation          Volume
 Sectors
 Utilities     PPL            7.565458  3058130.357143
 Utilities     AGR            6.203749   360549.107143
 Utilities       D            5.755643  2248659.821429
 Utilities     XEL            5.699939  2043875.892857
 Utilities     FTS            4.951813   228649.107143,
                        Tickers  Standard Deviation           Volume
 Sectors
 Communication Services    MTCH           11.158576       2588818.75
 Communication Services     DIS           10.472237   6022864.285714
 Communication Services    NFLX            8.848697   2572834.821429
 Communication Services    GOOG            8.292007    723633.035714
 Communication Services   CMCSA            7.988794      10583018.75
 Communication Services      EA            6.754570   1809875.892857
 Communication Services       T            6.314876      24657718.75
 Communication Services      VZ            3.829260  11538028.571429,
                 Tickers  Standard Deviation          Volume
 Sectors
 Basic Materials     BBL           10.700213  1752149.107143
 Basic Materials     ECL            9.156488   643558.928571
 Basic Materials     NEM            9.044090  3844217.857143
 Basic Materials     APD            6.930421   660522.321429,
                    Tickers  Standard Deviation          Volume
 Sectors
 Consumer Defensive     HLF           12.252129   709547.321429
 Consumer Defensive      EL            8.412227       699956.25
 Consumer Defensive     PEP            4.903556  2789961.607143
 Consumer Defensive    COST            4.893259  1203228.571429
 Consumer Defensive      PG            4.337722  4636135.714286]

In [34]:
energy_list

        Tickers  Standard Deviation          Volume
Sectors
Energy      APA           40.706368  6199122.321429
Energy     FANG           21.792214  1760363.392857

In [66]:
def get_correlations(sector, sector_list):
    
    # creating temporary lists to transform later
    returned_list = [sector]
    correlation_list = []
    
    # creating an empty dataframe for now
    sector_df = pd.DataFrame()
    
    # filling up the sector monthly returns
    for i in range (0, len(sector)):
        
        # getting ticker name, ticker history, weighted close price
        sector_ticker = yf.Ticker(sector.iloc[i, 0])
        sector_history = sector_ticker.history(start='2019-01-01', end='2021-01-01')
        sector_close_price = sector_history['Close']
        
        # converting to monthly data
        sector_close_price.index = pd.to_datetime(sector_close_price.index)
        sector_monthly_close_price = sector_close_price.groupby(sector_close_price.index.to_period('m')).head(1)
        sector_df['Monthly Close Price of ' + sector.iloc[i,0]] = sector_monthly_close_price
        
    # calculating value of sector (as if it were a portfolio), monthly returns and standard deviation
    sector_df['Value of Sector'] = sector_df.sum(axis=1)
    sector_df['Monthly Returns'] = sector_df['Value of Sector'].pct_change()*100
    sector_df = sector_df['Monthly Returns']
        
    # getting the correlations of the rest of the sectors
    for j in range (0, len(sector_list)):
        
        # temporary dataframe to store values
        temp = pd.DataFrame()
        correlation = pd.DataFrame()
    
        # dataframe with each stock in a specific sector
        init_sector = sector_list[j]
    
        # for-loop for each stock in a sector
        for k in range (0, len(init_sector)):
            # getting ticker name, ticker history, weighted close price
            ticker = yf.Ticker(init_sector.iloc[k, 0])
            history = ticker.history(start='2019-01-01', end='2021-01-01')
            close_price = history['Close']
            
            # converting to monthly data
            close_price.index = pd.to_datetime(close_price.index)
            monthly_close = close_price.groupby(close_price.index.to_period('m')).head(1)
            
            temp['Monthly Close Price of ' + init_sector.iloc[k,0]] = monthly_close
                
        # calculating value of sector (as if it were a portfolio), monthly returns and standard deviation
        temp['Value of Sector'] =  temp.sum(axis=1)
        temp['Monthly Returns'] = temp['Value of Sector'].pct_change()*100
        temp = temp['Monthly Returns']
        
        # concatenating the sector dataframe along with the dataframe of the other sector
        combined = pd.concat([sector_df, temp], join='inner', axis=1)
        
        # calculating the correlation and extracting the correlation
        correlation = combined.corr().iloc[0, 1]
        
        # appending the correlation, along with the sector name to a list
        correlation_list.append([init_sector.index[0], correlation, sector_list[j]])
    
    # sorting the list with the sectors and correlation information from greatest to least
    correlation_list.sort(key=lambda x: x[1], reverse=True)
    
    # appending the sectors with the highest correlations to a separate list
    for l in range (0, len(correlation_list)):
        correlation_sector = correlation_list[l]
        returned_list.append(correlation_sector[2])
    
    # returning the data
    return returned_list

In [67]:
# list with sectors in an descending correlative order
list_of_corr = (get_correlations(high_deviation_sector, new_filtered))

# displaying the list
list_of_corr

[        Tickers  Standard Deviation          Volume
 Sectors
 Energy      APA           40.706368  6199122.321429
 Energy     FANG           21.792214  1760363.392857,
                 Tickers  Standard Deviation          Volume
 Sectors
 Basic Materials     BBL           10.700213  1752149.107143
 Basic Materials     ECL            9.156488   643558.928571
 Basic Materials     NEM            9.044090  3844217.857143
 Basic Materials     APD            6.930421   660522.321429,
            Tickers  Standard Deviation           Volume
 Sectors
 Technology    ENPH           25.089947   1315490.178571
 Technology    IRBT           19.867428    303866.071429
 Technology    SEDG           16.550347         420087.5
 Technology    FSLR           13.744463   1233092.857143
 Technology    AAPL           10.793171  55696846.428571
 Technology    INFY            9.887727   4619625.892857
 Technology     DLB            8.202134    245391.071429
 Technology     IBM            8.185418   3291941.339286
 Technology     FIS            8.170227   2272419.642857
 Technology     ACN            7.287930   1248614.285714
 Technology    MSFT            6.181565  15980571.428571,
                    Tickers  Standard Deviation           Volume
 Sectors
 Financial Services      MS           11.786987   5997000.892857
 Financial Services     WFC           11.461630  18843551.785714
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     UVE            9.591690          94512.5
 Financial Services     JPM            9.198505   7968159.821429,
                        Tickers  Standard Deviation           Volume
 Sectors
 Communication Services    MTCH           11.158576       2588818.75
 Communication Services     DIS           10.472237   6022864.285714
 Communication Services    NFLX            8.848697   2572834.821429
 Communication Services    GOOG            8.292007    723633.035714
 Communication Services   CMCSA            7.988794      10583018.75
 Communication Services      EA            6.754570   1809875.892857
 Communication Services       T            6.314876      24657718.75
 Communication Services      VZ            3.829260  11538028.571429,
                    Tickers  Standard Deviation          Volume
 Sectors
 Consumer Defensive     HLF           12.252129   709547.321429
 Consumer Defensive      EL            8.412227       699956.25
 Consumer Defensive     PEP            4.903556  2789961.607143
 Consumer Defensive    COST            4.893259  1203228.571429
 Consumer Defensive      PG            4.337722  4636135.714286,
             Tickers  Standard Deviation          Volume
 Sectors
 Real Estate      WY           12.459817  2614102.678571
 Real Estate    INVH            9.001291  2647436.607143
 Real Estate     PLD            7.375227  1583982.142857
 Real Estate     ARE            6.345774   468623.214286,
             Tickers  Standard Deviation          Volume
 Sectors
 Industrials     RTX           10.057362  3280591.071429
 Industrials      DE            9.367448      1077456.25
 Industrials     UPS            9.123710  1871184.821429
 Industrials     CAT            8.220692  2384585.714286
 Industrials     HON            7.298749  1806290.178571,
           Tickers  Standard Deviation          Volume
 Sectors
 Utilities     PPL            7.565458  3058130.357143
 Utilities     AGR            6.203749   360549.107143
 Utilities       D            5.755643  2248659.821429
 Utilities     XEL            5.699939  2043875.892857
 Utilities     FTS            4.951813   228649.107143,
            Tickers  Standard Deviation           Volume
 Sectors
 Healthcare    MRNA           29.557239  12312961.607143
 Healthcare    SAGE           21.893959    408834.821429
 Healthcare    CRSP           19.878907    866942.857143
 Healthcare    REGN           10.685695         525787.5]

In [40]:
ticker_list = pd.concat(list_of_corr)

In [41]:
ticker_list = ticker_list[:10]
ticker_list

                Tickers  Standard Deviation          Volume
Sectors
Energy              APA           40.706368  6199122.321429
Energy             FANG           21.792214  1760363.392857
Basic Materials     BBL           10.700213  1752149.107143
Basic Materials     ECL            9.156488   643558.928571
Basic Materials     NEM            9.044090  3844217.857143
Basic Materials     APD            6.930421   660522.321429
Technology         ENPH           25.089947  1315490.178571
Technology         IRBT           19.867428   303866.071429
Technology         SEDG           16.550347        420087.5
Technology         FSLR           13.744463  1233092.857143

In [42]:
def get_returns (ticker):
    stock = yf.Ticker(ticker)
    start_date = '2019-01-01'
    end_date = '2021-11-01'
    history = stock.history(start=start_date, end=end_date)
    prices = pd.DataFrame({ticker: history['Close']})
    prices = prices.resample('MS').ffill()
    prices = prices.pct_change()
    return prices

get_returns ('OXY')

#return_list = get_returns(ticker_list.iloc[0,0])

                 OXY
Date
2019-01-01       NaN
2019-02-01       NaN
2019-03-01 -0.007202
2019-04-01  0.006464
2019-05-01 -0.144388
2019-06-01 -0.134134
2019-07-01  0.016367
2019-08-01  0.068100
2019-09-01 -0.182246
2019-10-01  0.024473
2019-11-01 -0.033813
2019-12-01 -0.087964
2020-01-01  0.090531
2020-02-01 -0.036156
2020-03-01 -0.175730
2020-04-01 -0.662020
2020-05-01  0.418994
2020-06-01 -0.093832
2020-07-01  0.261405
2020-08-01 -0.095922
2020-09-01 -0.207116
2020-10-01 -0.223599
2020-11-01 -0.056818
2020-12-01  0.657174
2021-01-01  0.144683
2021-02-01  0.177932
2021-03-01  0.355567
2021-04-01 -0.009074
2021-05-01 -0.073776
2021-06-01  0.122634
2021-07-01  0.154593
2021-08-01 -0.205721
2021-09-01 -0.039081
2021-10-01  0.242524

In [43]:
return_list = get_returns(ticker_list.iloc[0,0])

In [44]:
i = 1
for i in range (len(ticker_list)):
    ticker = ticker_list.iloc[i,0]
    add_returns = get_returns (ticker)
    return_list = pd.concat([return_list, add_returns], join = 'inner', axis = 1)

In [45]:
return_list = return_list.iloc[: , 1:]

In [46]:
return_list

,APA,FANG,BBL,ECL,NEM,APD,ENPH,IRBT,SEDG,FSLR
Date,,,,,,,,,,
2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-01,0.041041,0.019683,0.019969,0.070458,-0.000591,0.085659,0.300000,0.455567,-0.040167,0.102829
2019-04-01,0.028832,-0.010497,0.108478,0.052788,0.057217,0.069768,0.017582,-0.081970,-0.084422,0.013106
2019-05-01,-0.087027,-0.022374,-0.070151,0.020765,-0.127322,0.055669,0.401728,-0.137885,0.166182,0.124931
2019-06-01,-0.177862,-0.030901,-0.024859,0.009376,0.091359,0.007123,0.168721,-0.150478,0.213865,-0.046492
2019-07-01,0.120061,0.115134,0.138994,0.065858,0.150350,0.129789,0.206328,0.048445,0.162747,0.139387
2019-08-01,-0.165110,-0.109282,-0.107824,0.026410,-0.020047,-0.010707,0.644809,-0.218439,0.067255,0.010585
2019-09-01,-0.105721,0.008951,-0.057810,0.026776,0.073755,-0.001988,-0.014286,-0.134071,0.232065,-0.071226
2019-10-01,0.125174,-0.133360,0.019692,-0.048451,-0.054943,-0.036730,-0.268284,-0.031225,0.015015,-0.093282
2019-11-01,-0.007901,0.021059,0.024006,-0.024916,0.054579,-0.013489,-0.132658,-0.195892,0.000481,-0.065743
2019-12-01,-0.064259,-0.106703,0.020915,-0.022568,-0.030548,0.106621,0.161445,-0.095327,-0.018993,0.050590
2020-01-01,0.148564,0.200672,0.058307,0.036483,0.135547,-0.000744,0.194787,0.162305,0.165176,0.013034
2020-02-01,0.080563,-0.198794,-0.076154,0.016167,0.037054,0.015831,0.206276,-0.070709,0.029130,-0.114010
2020-03-01,-0.091837,-0.166667,-0.164172,-0.079853,-0.009543,-0.080013,0.553617,0.019979,0.274474,-0.076846
2020-04-01,-0.838684,-0.593185,-0.162417,-0.184905,0.044168,-0.132480,-0.392077,-0.179204,-0.368024,-0.269390
2020-05-01,1.814267,0.606701,0.084723,0.295160,0.312459,0.174186,0.452805,0.507997,0.331642,0.255383
2020-06-01,0.039893,0.095704,0.259410,0.100263,-0.008198,0.091564,0.379884,0.261784,0.435785,0.143640
2020-07-01,0.108269,-0.094443,0.014944,-0.039932,0.018738,0.010415,-0.177949,0.131021,-0.061778,0.022495
2020-08-01,0.182944,0.006566,0.072638,-0.065721,0.127770,0.175918,0.230330,-0.142503,0.238419,0.213078
2020-09-01,-0.026710,-0.026408,0.073439,0.077934,-0.031503,0.056170,0.304009,0.060393,0.277898,0.316877
2020-10-01,-0.376841,-0.244023,-0.075598,-0.020450,-0.058941,-0.022165,0.137213,0.028931,0.112218,-0.125606
2020-11-01,-0.106160,-0.107597,-0.082172,-0.068449,0.000159,-0.062545,0.095855,0.003404,0.035440,0.269506
2020-12-01,0.490361,0.553029,0.213018,0.220219,-0.041852,0.025123,0.313590,-0.027771,0.063565,0.046065
2021-01-01,0.147130,0.214555,0.124708,-0.032094,0.001363,-0.030379,0.361816,0.037741,0.164374,0.086317
2021-02-01,0.067066,0.197934,0.064680,-0.036652,-0.000167,-0.015628,0.061948,0.524349,-0.057345,-0.006167
2021-03-01,0.291005,0.270438,0.153029,0.013386,-0.087341,-0.028853,0.000590,0.025247,0.023702,-0.136507
2021-04-01,-0.034324,0.108880,-0.079582,0.028955,0.142074,0.096597,-0.127434,-0.030204,-0.079753,0.014843
2021-05-01,0.062571,0.006279,0.041487,0.033525,0.009707,0.012566,-0.144078,-0.105925,-0.070045,-0.111666
2021-06-01,0.153000,0.065047,0.035041,-0.040202,0.184906,0.048738,0.001364,-0.094577,-0.057183,0.004573
2021-07-01,-0.049436,0.149983,-0.052539,-0.025386,-0.143597,-0.040423,0.313181,-0.081109,0.106291,0.172867
2021-08-01,-0.143397,-0.225602,0.100455,0.055694,-0.000636,0.007722,0.035443,-0.033363,-0.056024,-0.045802
2021-09-01,0.016000,-0.038506,-0.049931,0.018747,-0.078637,-0.074528,-0.069462,-0.048800,0.116811,0.093212
2021-10-01,0.144357,0.333064,-0.127865,-0.048295,-0.065821,-0.038678,-0.119424,-0.041572,-0.060975,0.026685

In [47]:
corr = return_list.corr()
corr

,APA,FANG,BBL,ECL,NEM,APD,ENPH,IRBT,SEDG,FSLR
APA,1.000000,0.793368,0.437394,0.738985,0.471429,0.529238,0.301372,0.520136,0.398873,0.439702
FANG,0.793368,1.000000,0.520870,0.673417,0.224060,0.392762,0.301476,0.435125,0.365531,0.432690
BBL,0.437394,0.520870,1.000000,0.564334,0.160088,0.495887,0.149168,0.366472,0.302318,0.292824
ECL,0.738985,0.673417,0.564334,1.000000,0.299239,0.574174,0.436739,0.427874,0.454764,0.410925
NEM,0.471429,0.224060,0.160088,0.299239,1.000000,0.528427,-0.011033,0.230592,0.119530,0.112448
APD,0.529238,0.392762,0.495887,0.574174,0.528427,1.000000,0.326070,0.288062,0.366080,0.525427
ENPH,0.301372,0.301476,0.149168,0.436739,-0.011033,0.326070,1.000000,0.232561,0.682265,0.501655
IRBT,0.520136,0.435125,0.366472,0.427874,0.230592,0.288062,0.232561,1.000000,0.223704,0.325506
SEDG,0.398873,0.365531,0.302318,0.454764,0.119530,0.366080,0.682265,0.223704,1.000000,0.542703
FSLR,0.439702,0.432690,0.292824,0.410925,0.112448,0.525427,0.501655,0.325506,0.542703,1.000000

In [48]:
highest_corr = pd.DataFrame({'test':corr[corr.columns[0]].nlargest(2)})
highest_corr

          test
APA   1.000000
FANG  0.793368

In [49]:
def stock_df (ticker, value, num):
    myhistory = yf.Ticker(ticker).history(start='2021-05-19', end='2021-11-30', interval= '1d')
    data= {'Ticker': ticker,
           'Price': myhistory.loc['2021-11-24', 'Close'],
           'Shares': value/myhistory.loc['2021-11-24', 'Close'],
           'Values': value, 'Weight (Percent)': [value/1000]}
    grades= pd.DataFrame(data,index=[num])
    return grades

stock1 = stock_df (highest_corr.index[0], 35000, 1)
stock2 = stock_df (highest_corr.index[1], 25000, 2)

In [50]:
ticker_list = ticker_list[ticker_list.Tickers != highest_corr.index[0]]

In [51]:
ticker_list = ticker_list[ticker_list.Tickers != highest_corr.index[1]]

In [52]:
ticker_list

                Tickers  Standard Deviation          Volume
Sectors
Basic Materials     BBL           10.700213  1752149.107143
Basic Materials     ECL            9.156488   643558.928571
Basic Materials     NEM            9.044090  3844217.857143
Basic Materials     APD            6.930421   660522.321429
Technology         ENPH           25.089947  1315490.178571
Technology         IRBT           19.867428   303866.071429
Technology         SEDG           16.550347        420087.5
Technology         FSLR           13.744463  1233092.857143

In [53]:
FinalPortfolio = stock1.append(stock2)

i = 0
for i in range (8):
    add_stock = stock_df(ticker_list.iloc[i,0], 5000, i+3)
    FinalPortfolio = FinalPortfolio.append(add_stock)
    
total = pd.DataFrame({'Ticker': 'N/A',
                      'Price': 'N/A',
                      'Shares': 'N/A',
                      'Values': sum(FinalPortfolio.Values),
                      'Weight (Percent)': sum(FinalPortfolio['Weight (Percent)'])}, index=[11])

In [54]:
FinalPortfolio = FinalPortfolio.append(total)

In [55]:
FinalPortfolio

   Ticker       Price       Shares  Values  Weight (Percent)
1     APA   28.610001  1223.348453   35000              35.0
2    FANG  114.199997   218.914191   25000              25.0
3     BBL       54.16    92.319055    5000               5.0
4     ECL  231.350006    21.612275    5000               5.0
5     NEM   55.470001    90.138812    5000               5.0
6     APD  297.839996    16.787537    5000               5.0
7    ENPH  255.100006    19.600156    5000               5.0
8    IRBT   81.589996    61.282023    5000               5.0
9    SEDG   348.48999    14.347614    5000               5.0
10   FSLR  108.279999     46.17658    5000               5.0
11    N/A         N/A          N/A  100000             100.0

In [56]:
FinalPortfolio.drop(FinalPortfolio.tail(1).index,inplace=True)

In [57]:
FinalPortfolio.reset_index(inplace=True)

In [58]:
FinalPortfolio

   index Ticker       Price       Shares  Values  Weight (Percent)
0      1    APA   28.610001  1223.348453   35000              35.0
1      2   FANG  114.199997   218.914191   25000              25.0
2      3    BBL       54.16    92.319055    5000               5.0
3      4    ECL  231.350006    21.612275    5000               5.0
4      5    NEM   55.470001    90.138812    5000               5.0
5      6    APD  297.839996    16.787537    5000               5.0
6      7   ENPH  255.100006    19.600156    5000               5.0
7      8   IRBT   81.589996    61.282023    5000               5.0
8      9   SEDG   348.48999    14.347614    5000               5.0
9     10   FSLR  108.279999     46.17658    5000               5.0

In [59]:
Stocks = pd.concat([FinalPortfolio['index'], FinalPortfolio['Ticker'], FinalPortfolio['Shares']], join='inner',axis=1)
Stocks.columns=['','Ticker','Shares']

In [60]:
Stocks

      Ticker       Shares
0   1    APA  1223.348453
1   2   FANG   218.914191
2   3    BBL    92.319055
3   4    ECL    21.612275
4   5    NEM    90.138812
5   6    APD    16.787537
6   7   ENPH    19.600156
7   8   IRBT    61.282023
8   9   SEDG    14.347614
9  10   FSLR     46.17658

In [61]:
Stocks.to_csv('Stocks_Group_16.csv', encoding='utf-8', index=False)

In [62]:
# getting the monthly returns of each sector
def find_returns(df):
    
    # sectors without any tickers inside of them
    if (len(df) == 0):
        return None
    
    # sectors with tickers inside of them
    else:
        
        # creating a temporary dataframe
        init_frame = pd.DataFrame(columns=['Close Prices'])
        
        # getting the ticker, ticker history and close price
        init_ticker = yf.Ticker(df.iloc[0,0])
        init_hist = init_ticker.history(start="2019-01-01", end="2021-01-01")
        init_close = init_hist['Close']
        
        # converting the daily data to monthly data
        init_close.index = pd.to_datetime(init_close.index)
        monthly_init_close = init_close.groupby(init_close.index.to_period('m')).head(1)
        init_frame['Close Prices'] = monthly_init_close
        
        # if there is only one stock in the sector
        if (len(df) == 1):
            init_frame['Monthly Returns'] = init_frame['Close Prices'].pct_change()*100
            return init_frame['Monthly Returns']
    
        else:
            # looping through the sectors to get the monthly returns
            for i in range (1, len(df)):
                
                # getting the ticker, ticker history and close price history
                ticker = yf.Ticker(df.iloc[i, 0])
                ticker_hist = ticker.history(start="2019-01-01", end="2021-01-01")
                ticker_close = ticker_hist['Close']
                
                # converting the daily data to monthly data
                ticker_close.index = pd.to_datetime(ticker_close.index)
                monthly_close = ticker_close.groupby(ticker_close.index.to_period('m')).head(1)
            
                # adding the close prices of each stock
                init_frame['Close Prices'] = init_frame['Close Prices'] + monthly_close
        
                # calculating the monthly returns
                init_frame['Monthly Returns'] = init_frame['Close Prices'].pct_change()*100
        
            # returning the monthly returns
            return init_frame['Monthly Returns']
    
    return 1

In [63]:
correlation = pd.DataFrame()
correlation['Energy Monthly Returns (%)'] = find_returns(energy_list)
correlation['Financial Services Monthly Returns (%)'] = find_returns(financial_list)
correlation['Technology Monthly Returns (%)'] = find_returns(tech_list)
correlation['Healthcare Monthly Returns (%)'] = find_returns(healthcare_list)
correlation['Real Estate Monthly Returns (%)'] = find_returns(estate_list)
correlation['Industrials Monthly Returns (%)'] = find_returns(industry_list)
correlation['Utilities Monthly Returns (%)'] = find_returns(utilities_list)
correlation['Communication Services Monthly Returns (%)'] = find_returns(communication_list)
correlation['Materials Monthly Returns (%)'] = find_returns(materials_list)
correlation['Consumer Defensive Monthly Returns (%)'] = find_returns(consumer_list)

print(correlation.corr())

                                            Energy Monthly Returns (%)  \
Energy Monthly Returns (%)                                    1.000000
Financial Services Monthly Returns (%)                        0.823918
Technology Monthly Returns (%)                                0.837143
Healthcare Monthly Returns (%)                                0.258719
Real Estate Monthly Returns (%)                               0.736351
Industrials Monthly Returns (%)                               0.584001
Utilities Monthly Returns (%)                                 0.547846
Communication Services Monthly Returns (%)                    0.815105
Materials Monthly Returns (%)                                 0.860314
Consumer Defensive Monthly Returns (%)                        0.769804

                                            Financial Services Monthly Returns (%)  \
Energy Monthly Returns (%)                                                0.823918
Financial Services Monthly Returns (%)                                    1.000000
Technology Monthly Returns (%)                                            0.796296
Healthcare Monthly Returns (%)                                            0.227991
Real Estate Monthly Returns (%)                                           0.688189
Industrials Monthly Returns (%)                                           0.810587
Utilities Monthly Returns (%)                                             0.554287
Communication Services Monthly Returns (%)                                0.826737
Materials Monthly Returns (%)                                             0.704477
Consumer Defensive Monthly Returns (%)                                    0.792301

                                            Technology Monthly Returns (%)  \
Energy Monthly Returns (%)                                        0.837143
Financial Services Monthly Returns (%)                            0.796296
Technology Monthly Returns (%)                                    1.000000
Healthcare Monthly Returns (%)                                    0.324147
Real Estate Monthly Returns (%)                                   0.736255
Industrials Monthly Returns (%)                                   0.754026
Utilities Monthly Returns (%)                                     0.697848
Communication Services Monthly Returns (%)                        0.895728
Materials Monthly Returns (%)                                     0.898536
Consumer Defensive Monthly Returns (%)                            0.862712

                                            Healthcare Monthly Returns (%)  \
Energy Monthly Returns (%)                                        0.258719
Financial Services Monthly Returns (%)                            0.227991
Technology Monthly Returns (%)                                    0.324147
Healthcare Monthly Returns (%)                                    1.000000
Real Estate Monthly Returns (%)                                   0.355411
Industrials Monthly Returns (%)                                   0.275277
Utilities Monthly Returns (%)                                     0.005428
Communication Services Monthly Returns (%)                        0.261667
Materials Monthly Returns (%)                                     0.205714
Consumer Defensive Monthly Returns (%)                            0.210795

                                            Real Estate Monthly Returns (%)  \
Energy Monthly Returns (%)                                         0.736351
Financial Services Monthly Returns (%)                             0.688189
Technology Monthly Returns (%)                                     0.736255
Healthcare Monthly Returns (%)                                     0.355411
Real Estate Monthly Returns (%)                                    1.000000
Industrials Monthly Returns (%)                                    0.528391
Utilities Monthly Returns (%)                                      0.732933
Communication Services Monthly Returns (%)                         0.715371
Materials Monthly Returns (%)                                      0.772011
Consumer Defensive Monthly Returns (%)                             0.708575

                                            Industrials Monthly Returns (%)  \
Energy Monthly Returns (%)                                         0.584001
Financial Services Monthly Returns (%)                             0.810587
Technology Monthly Returns (%)                                     0.754026
Healthcare Monthly Returns (%)                                     0.275277
Real Estate Monthly Returns (%)                                    0.528391
Industrials Monthly Returns (%)                                    1.000000
Utilities Monthly Returns (%)                                      0.418340
Communication Services Monthly Returns (%)                         0.743207
Materials Monthly Returns (%)                                      0.548797
Consumer Defensive Monthly Returns (%)                             0.737369

                                            Utilities Monthly Returns (%)  \
Energy Monthly Returns (%)                                       0.547846
Financial Services Monthly Returns (%)                           0.554287
Technology Monthly Returns (%)                                   0.697848
Healthcare Monthly Returns (%)                                   0.005428
Real Estate Monthly Returns (%)                                  0.732933
Industrials Monthly Returns (%)                                  0.418340
Utilities Monthly Returns (%)                                    1.000000
Communication Services Monthly Returns (%)                       0.552755
Materials Monthly Returns (%)                                    0.707873
Consumer Defensive Monthly Returns (%)                           0.702768

                                            Communication Services Monthly Returns (%)  \
Energy Monthly Returns (%)                                                    0.815105
Financial Services Monthly Returns (%)                                        0.826737
Technology Monthly Returns (%)                                                0.895728
Healthcare Monthly Returns (%)                                                0.261667
Real Estate Monthly Returns (%)                                               0.715371
Industrials Monthly Returns (%)                                               0.743207
Utilities Monthly Returns (%)                                                 0.552755
Communication Services Monthly Returns (%)                                    1.000000
Materials Monthly Returns (%)                                                 0.829057
Consumer Defensive Monthly Returns (%)                                        0.770504

                                            Materials Monthly Returns (%)  \
Energy Monthly Returns (%)                                       0.860314
Financial Services Monthly Returns (%)                           0.704477
Technology Monthly Returns (%)                                   0.898536
Healthcare Monthly Returns (%)                                   0.205714
Real Estate Monthly Returns (%)                                  0.772011
Industrials Monthly Returns (%)                                  0.548797
Utilities Monthly Returns (%)                                    0.707873
Communication Services Monthly Returns (%)                       0.829057
Materials Monthly Returns (%)                                    1.000000
Consumer Defensive Monthly Returns (%)                           0.857636

                                            Consumer Defensive Monthly Returns (%)
Energy Monthly Returns (%)                                                0.769804
Financial Services Monthly Returns (%)                                    0.792301
Technology Monthly Returns (%)                                            0.862712
Healthcare Monthly Returns (%)                                            0.210795
Real Estate Monthly Returns (%)                                           0.708575
Industrials Monthly Returns (%)                                           0.737369
Utilities Monthly Returns (%)                                             0.702768
Communication Services Monthly Returns (%)                                0.770504
Materials Monthly Returns (%)                                             0.857636
Consumer Defensive Monthly Returns (%)                                    1.000000

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Alex Liu, Stephen Chen, Bhavya Shah