In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 16
### Team Member Names: Stephen Chen, Bhavya Shah, Alex Liu
### Team Strategy Chosen: RISKY?__________(RISKY OR SAFE)

In [2]:
# Importing csv file with tickers and reformatting dataframe
ticker_list = pd.read_csv("Sample Tickers.csv")
add_columns = pd.DataFrame({ticker_list.columns[0]:ticker_list.columns[0]}, index=[len(ticker_list)])
ticker_list = ticker_list.append(add_columns)
ticker_list.columns=['Tickers']

In [3]:
ticker_list

   Tickers
0    ENFAU
1      UVE
2     OPOF
3     CRSP
4     REGN
5     RPRX
6     SAGE
7     MRNA
8      BNR
9     ENPH
10    SEDG
11    FSLR
12     APA
13    FANG
14     JPM
15     BAC
16     WFC
17      MS
18    AAPL
19    MSFT
20    GOOG
21    MTCH
22      EA
23     PLD
24    INVH
25      WY
26     ARE
27     UPS
28     HON
29     BAC
30     RTX
31      DE
32     CAT
33    AFRM
34    INFY
35     FIS
36     ACN
37     IBM
38     DLB
39       D
40     XEL
41     FTS
42     AGR
43     PPL
44    NFLX
45     DIS
46   CMCSA
47      VZ
48       T
49     ECL
50     APD
51     BBL
52     DOW
53     NEM
54    COST
55      PG
56     PEP
57      EL
58     HLF
59    IRBT

In [4]:
# identifying American stocks, converting tickers to American (if possible)
for i in range(0, len(ticker_list)):
    ticker = str(ticker_list.iloc[i, 0])
    
    # finds the period in the stock tickers
    get_position = ticker.find('.')
    
    # if there is a period in the string (meaning that it's not an American stock)
    if (get_position != -1):
        ticker_list.iloc[i, 0] = ticker[:get_position]

In [5]:
sector_list = pd.DataFrame(columns = ['Sectors'])

def get_deviation(ticker):
    stock_ticker = ticker
    stock_hist = stock_ticker.history(start='2019-01-01', end='2021-07-01')
    stock_close = stock_hist['Close']
    stock_close.index = pd.to_datetime(stock_close.index)
    
    monthly_close = stock_close.groupby(stock_close.index.to_period('m')).head(1)

    return (monthly_close.pct_change()*100).std()

i = 0

for i in range (len(ticker_list)):
    stock = yf.Ticker(ticker_list.iloc[i, 0])
    sector = stock.info.get('sector')
    add_data = pd.DataFrame({'Sectors':sector,
                             'Standard Deviation': get_deviation(stock)},index=[i])
    sector_list = sector_list.append(add_data)

In [6]:
sector_list

                   Sectors  Standard Deviation
0       Financial Services            1.265157
1       Financial Services            9.591687
2       Financial Services            9.819561
3               Healthcare           19.878907
4               Healthcare           10.685695
5               Healthcare            7.964049
6               Healthcare           21.893959
7               Healthcare           29.557239
8               Healthcare           14.742936
9               Technology           25.089947
10              Technology           16.550347
11              Technology           13.744463
12                  Energy           40.706368
13                  Energy           21.792214
14      Financial Services            9.198505
15      Financial Services           10.704365
16      Financial Services           11.461630
17      Financial Services           11.786987
18              Technology           10.793171
19              Technology            6.181565
20  Communication Services            8.292007
21  Communication Services           11.158576
22  Communication Services            6.754570
23             Real Estate            7.375227
24             Real Estate            9.001291
25             Real Estate           12.459817
26             Real Estate            6.345774
27             Industrials            9.123710
28             Industrials            7.298749
29      Financial Services           10.704365
30             Industrials           10.057362
31             Industrials            9.367448
32             Industrials            8.220692
33              Technology           12.574363
34              Technology            9.887727
35              Technology            8.170227
36              Technology            7.287930
37              Technology            8.185418
38              Technology            8.202134
39               Utilities            5.755643
40               Utilities            5.699939
41               Utilities            4.951813
42               Utilities            6.203749
43               Utilities            7.565458
44  Communication Services            8.848697
45  Communication Services           10.472237
46  Communication Services            7.988794
47  Communication Services            3.829260
48  Communication Services            6.314876
49         Basic Materials            9.156488
50         Basic Materials            6.930421
51         Basic Materials           10.700213
52         Basic Materials           12.375451
53         Basic Materials            9.044090
54      Consumer Defensive            4.893259
55      Consumer Defensive            4.337722
56      Consumer Defensive            4.903556
57      Consumer Defensive            8.412227
58      Consumer Defensive           12.252129
59              Technology           19.867428

In [7]:
ticker_list = pd.concat([ticker_list, sector_list], join='inner',axis=1)

In [8]:
ticker_list = ticker_list[ticker_list.Sectors.notnull()]
ticker_list.set_index('Sectors', inplace=True)

In [9]:
ticker_list

                       Tickers  Standard Deviation
Sectors
Financial Services       ENFAU            1.265157
Financial Services         UVE            9.591687
Financial Services        OPOF            9.819561
Healthcare                CRSP           19.878907
Healthcare                REGN           10.685695
Healthcare                RPRX            7.964049
Healthcare                SAGE           21.893959
Healthcare                MRNA           29.557239
Healthcare                 BNR           14.742936
Technology                ENPH           25.089947
Technology                SEDG           16.550347
Technology                FSLR           13.744463
Energy                     APA           40.706368
Energy                    FANG           21.792214
Financial Services         JPM            9.198505
Financial Services         BAC           10.704365
Financial Services         WFC           11.461630
Financial Services          MS           11.786987
Technology                AAPL           10.793171
Technology                MSFT            6.181565
Communication Services    GOOG            8.292007
Communication Services    MTCH           11.158576
Communication Services      EA            6.754570
Real Estate                PLD            7.375227
Real Estate               INVH            9.001291
Real Estate                 WY           12.459817
Real Estate                ARE            6.345774
Industrials                UPS            9.123710
Industrials                HON            7.298749
Financial Services         BAC           10.704365
Industrials                RTX           10.057362
Industrials                 DE            9.367448
Industrials                CAT            8.220692
Technology                AFRM           12.574363
Technology                INFY            9.887727
Technology                 FIS            8.170227
Technology                 ACN            7.287930
Technology                 IBM            8.185418
Technology                 DLB            8.202134
Utilities                    D            5.755643
Utilities                  XEL            5.699939
Utilities                  FTS            4.951813
Utilities                  AGR            6.203749
Utilities                  PPL            7.565458
Communication Services    NFLX            8.848697
Communication Services     DIS           10.472237
Communication Services   CMCSA            7.988794
Communication Services      VZ            3.829260
Communication Services       T            6.314876
Basic Materials            ECL            9.156488
Basic Materials            APD            6.930421
Basic Materials            BBL           10.700213
Basic Materials            DOW           12.375451
Basic Materials            NEM            9.044090
Consumer Defensive        COST            4.893259
Consumer Defensive          PG            4.337722
Consumer Defensive         PEP            4.903556
Consumer Defensive          EL            8.412227
Consumer Defensive         HLF           12.252129
Technology                IRBT           19.867428

In [10]:
# placeholder volume column
ticker_list["Volume"] = None

# loop to calculate the average daily volume of each stock
for i in range (0, len(ticker_list)):
    
    # getting the number of days between June 2, 2021 and October 22, 2021
    num_days = int(str(pd.to_datetime('2021-07-02') - pd.to_datetime('2021-10-22'))[1:4])
    
    # getting each ticker's information
    ticker = yf.Ticker(ticker_list.iloc[i, 0])
    ticker_hist = ticker.history(start="2021-07-02", end="2021-10-22")
    ticker_volume = ticker_hist['Volume'].sum()/num_days
    ticker_list.iloc[i, -1] = ticker_volume
    
# filtering for the tickers that fit our requirement
ticker_list = ticker_list[(ticker_list["Volume"] > 10000)]

In [11]:
def sort_list (industry_list, industry):
    industry_list = ticker_list.filter(like = industry, axis=0)
    industry_list = industry_list.sort_values(by=['Standard Deviation'], ascending = False)
    return industry_list

In [12]:
energy_list = sort_list (ticker_list, 'Energy')
energy_list

        Tickers  Standard Deviation          Volume
Sectors
Energy      APA           40.706368  6199122.321429
Energy     FANG           21.792214  1760363.392857

In [13]:
financial_list = sort_list (ticker_list, 'Financial Services') 
financial_list

                   Tickers  Standard Deviation           Volume
Sectors
Financial Services      MS           11.786987   5997000.892857
Financial Services     WFC           11.461630  18843551.785714
Financial Services     BAC           10.704365  33489260.714286
Financial Services     BAC           10.704365  33489260.714286
Financial Services     UVE            9.591687          94512.5
Financial Services     JPM            9.198505   7968159.821429
Financial Services   ENFAU            1.265157     16160.714286

In [14]:
tech_list = sort_list (ticker_list, 'Technology')
tech_list

           Tickers  Standard Deviation           Volume
Sectors
Technology    ENPH           25.089947   1315490.178571
Technology    IRBT           19.867428    303866.071429
Technology    SEDG           16.550347         420087.5
Technology    FSLR           13.744463   1233092.857143
Technology    AFRM           12.574363   7492038.392857
Technology    AAPL           10.793171  55696846.428571
Technology    INFY            9.887727   4619625.892857
Technology     DLB            8.202134    245391.071429
Technology     IBM            8.185418   3291941.339286
Technology     FIS            8.170227   2272419.642857
Technology     ACN            7.287930   1248614.285714
Technology    MSFT            6.181565  15980571.428571

In [15]:
healthcare_list = sort_list (ticker_list, 'Healthcare')
healthcare_list

           Tickers  Standard Deviation           Volume
Sectors
Healthcare    MRNA           29.557239  12312961.607143
Healthcare    SAGE           21.893959    408834.821429
Healthcare    CRSP           19.878907    866942.857143
Healthcare     BNR           14.742936    170184.821429
Healthcare    REGN           10.685695         525787.5
Healthcare    RPRX            7.964049   1553907.142857

In [16]:
estate_list = sort_list (ticker_list, 'Real Estate')
estate_list

            Tickers  Standard Deviation          Volume
Sectors
Real Estate      WY           12.459817  2614102.678571
Real Estate    INVH            9.001291  2647436.607143
Real Estate     PLD            7.375227  1583982.142857
Real Estate     ARE            6.345774   468623.214286

In [17]:
industry_list = sort_list (ticker_list, 'Industrials')
industry_list

            Tickers  Standard Deviation          Volume
Sectors
Industrials     RTX           10.057362  3280591.071429
Industrials      DE            9.367448      1077456.25
Industrials     UPS            9.123710  1871184.821429
Industrials     CAT            8.220692  2384585.714286
Industrials     HON            7.298749  1806290.178571

In [18]:
utilities_list = sort_list(ticker_list, 'Utilities')
utilities_list

          Tickers  Standard Deviation          Volume
Sectors
Utilities     PPL            7.565458  3058130.357143
Utilities     AGR            6.203749   360549.107143
Utilities       D            5.755643  2248659.821429
Utilities     XEL            5.699939  2043875.892857
Utilities     FTS            4.951813   228649.107143

In [19]:
communication_list = sort_list(ticker_list,'Communication Services')
communication_list

                       Tickers  Standard Deviation           Volume
Sectors
Communication Services    MTCH           11.158576       2588818.75
Communication Services     DIS           10.472237   6022864.285714
Communication Services    NFLX            8.848697   2572834.821429
Communication Services    GOOG            8.292007    723633.035714
Communication Services   CMCSA            7.988794      10583018.75
Communication Services      EA            6.754570   1809875.892857
Communication Services       T            6.314876      24657718.75
Communication Services      VZ            3.829260  11538028.571429

In [20]:
materials_list = sort_list(ticker_list,'Basic Materials')
materials_list

                Tickers  Standard Deviation          Volume
Sectors
Basic Materials     DOW           12.375451       3440787.5
Basic Materials     BBL           10.700213  1752149.107143
Basic Materials     ECL            9.156488   643558.928571
Basic Materials     NEM            9.044090  3844217.857143
Basic Materials     APD            6.930421   660522.321429

In [21]:
consumer_list = sort_list(ticker_list,'Consumer Defensive')
consumer_list

                   Tickers  Standard Deviation          Volume
Sectors
Consumer Defensive     HLF           12.252129   709547.321429
Consumer Defensive      EL            8.412227       699956.25
Consumer Defensive     PEP            4.903556  2789961.607143
Consumer Defensive    COST            4.893259  1203228.571429
Consumer Defensive      PG            4.337722  4636135.714286

In [22]:
# getting the list of the sectors
sectors_list = [energy_list, financial_list, tech_list, healthcare_list, estate_list, industry_list, utilities_list, communication_list, materials_list, consumer_list]

In [23]:
# filter out sectors without any stocks
filtered_sectors_list = []

# for-loop to get rid of any sectors without any stocks in them (lowers run-time)
for i in range (0, len(sectors_list)):
    
    # if the sector list isn't empty, add the sector to the filtered list
    if (len(sectors_list[i]) != 0):
        filtered_sectors_list.append(sectors_list[i])

In [24]:
# find the sector with the highest standard deviation
def find_highest_sector_deviation(list_of_sectors):
    
    # list of sectors isn't empty
    if (len(list_of_sectors) != 0):
        
        # temporary variables for the highest deviation, along with the sector with the highest deviation
        highest_deviation = -100000000
        highest_deviation_sector = None
    
        # for-loop which loops through each sector
        for i in range (0, len(list_of_sectors)):
    
            # temporary dataframe to store values
            temp = pd.DataFrame()
    
            # dataframe with each stock in a specific sector
            sector = list_of_sectors[i]
    
            # for-loop for each stock in a sector
            for j in range (0, len(sector)):
                
                # getting ticker name, ticker history, weighted close price
                ticker = yf.Ticker(sector.iloc[j, 0])
                history = ticker.history(start='2019-01-01', end='2021-01-01')
                temp['Weighted Price of ' + sector.iloc[j,0]] = history['Close']
                
            # calculating value of sector (as if it were a portfolio), monthly returns and standard deviation
            temp['Value of Sector'] =  temp.sum(axis=1)
            temp['Monthly Returns'] = temp['Value of Sector'].pct_change()*100
            temp_deviation = sector['Standard Deviation'].sum()/len(sector)
    
            # determining if that sector has the highest deviation or not, if it is, change the values
            if (temp_deviation > highest_deviation):
                highest_deviation = temp_deviation
                highest_deviation_sector = sector
        
        # return the sector with the highest deviation
        return highest_deviation_sector
    
    # list of sectors is empty
    else:
        
        # return 0
        return 0

In [25]:
filtered_sectors_list

[        Tickers  Standard Deviation          Volume
 Sectors
 Energy      APA           40.706368  6199122.321429
 Energy     FANG           21.792214  1760363.392857,
                    Tickers  Standard Deviation           Volume
 Sectors
 Financial Services      MS           11.786987   5997000.892857
 Financial Services     WFC           11.461630  18843551.785714
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     UVE            9.591687          94512.5
 Financial Services     JPM            9.198505   7968159.821429
 Financial Services   ENFAU            1.265157     16160.714286,
            Tickers  Standard Deviation           Volume
 Sectors
 Technology    ENPH           25.089947   1315490.178571
 Technology    IRBT           19.867428    303866.071429
 Technology    SEDG           16.550347         420087.5
 Technology    FSLR           13.744463   1233092.857143
 Technology    AFRM           12.574363   7492038.392857
 Technology    AAPL           10.793171  55696846.428571
 Technology    INFY            9.887727   4619625.892857
 Technology     DLB            8.202134    245391.071429
 Technology     IBM            8.185418   3291941.339286
 Technology     FIS            8.170227   2272419.642857
 Technology     ACN            7.287930   1248614.285714
 Technology    MSFT            6.181565  15980571.428571,
            Tickers  Standard Deviation           Volume
 Sectors
 Healthcare    MRNA           29.557239  12312961.607143
 Healthcare    SAGE           21.893959    408834.821429
 Healthcare    CRSP           19.878907    866942.857143
 Healthcare     BNR           14.742936    170184.821429
 Healthcare    REGN           10.685695         525787.5
 Healthcare    RPRX            7.964049   1553907.142857,
             Tickers  Standard Deviation          Volume
 Sectors
 Real Estate      WY           12.459817  2614102.678571
 Real Estate    INVH            9.001291  2647436.607143
 Real Estate     PLD            7.375227  1583982.142857
 Real Estate     ARE            6.345774   468623.214286,
             Tickers  Standard Deviation          Volume
 Sectors
 Industrials     RTX           10.057362  3280591.071429
 Industrials      DE            9.367448      1077456.25
 Industrials     UPS            9.123710  1871184.821429
 Industrials     CAT            8.220692  2384585.714286
 Industrials     HON            7.298749  1806290.178571,
           Tickers  Standard Deviation          Volume
 Sectors
 Utilities     PPL            7.565458  3058130.357143
 Utilities     AGR            6.203749   360549.107143
 Utilities       D            5.755643  2248659.821429
 Utilities     XEL            5.699939  2043875.892857
 Utilities     FTS            4.951813   228649.107143,
                        Tickers  Standard Deviation           Volume
 Sectors
 Communication Services    MTCH           11.158576       2588818.75
 Communication Services     DIS           10.472237   6022864.285714
 Communication Services    NFLX            8.848697   2572834.821429
 Communication Services    GOOG            8.292007    723633.035714
 Communication Services   CMCSA            7.988794      10583018.75
 Communication Services      EA            6.754570   1809875.892857
 Communication Services       T            6.314876      24657718.75
 Communication Services      VZ            3.829260  11538028.571429,
                 Tickers  Standard Deviation          Volume
 Sectors
 Basic Materials     DOW           12.375451       3440787.5
 Basic Materials     BBL           10.700213  1752149.107143
 Basic Materials     ECL            9.156488   643558.928571
 Basic Materials     NEM            9.044090  3844217.857143
 Basic Materials     APD            6.930421   660522.321429,
                    Tickers  Standard Deviation          Volume
 Sectors
 Consumer Defensive     HLF           12.252129   709547.321429
 Consumer Defensive      EL            8.412227       699956.25
 Consumer Defensive     PEP            4.903556  2789961.607143
 Consumer Defensive    COST            4.893259  1203228.571429
 Consumer Defensive      PG            4.337722  4636135.714286]

In [26]:
filtered_sectors_list[3]

           Tickers  Standard Deviation           Volume
Sectors
Healthcare    MRNA           29.557239  12312961.607143
Healthcare    SAGE           21.893959    408834.821429
Healthcare    CRSP           19.878907    866942.857143
Healthcare     BNR           14.742936    170184.821429
Healthcare    REGN           10.685695         525787.5
Healthcare    RPRX            7.964049   1553907.142857

In [27]:
high_deviation_sector = find_highest_sector_deviation(filtered_sectors_list)
high_deviation_sector

- ENFAU: Data doesn't exist for startDate = 1546318800, endDate = 1609477200
- AFRM: Data doesn't exist for startDate = 1546318800, endDate = 1609477200

        Tickers  Standard Deviation          Volume
Sectors
Energy      APA           40.706368  6199122.321429
Energy     FANG           21.792214  1760363.392857

In [28]:
new_filtered = []

for i in range (0, len(filtered_sectors_list)):
    if (filtered_sectors_list[i].index[0] != high_deviation_sector.index[0]):
        new_filtered.append(filtered_sectors_list[i])

new_filtered

[                   Tickers  Standard Deviation           Volume
 Sectors
 Financial Services      MS           11.786987   5997000.892857
 Financial Services     WFC           11.461630  18843551.785714
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     UVE            9.591687          94512.5
 Financial Services     JPM            9.198505   7968159.821429
 Financial Services   ENFAU            1.265157     16160.714286,
            Tickers  Standard Deviation           Volume
 Sectors
 Technology    ENPH           25.089947   1315490.178571
 Technology    IRBT           19.867428    303866.071429
 Technology    SEDG           16.550347         420087.5
 Technology    FSLR           13.744463   1233092.857143
 Technology    AFRM           12.574363   7492038.392857
 Technology    AAPL           10.793171  55696846.428571
 Technology    INFY            9.887727   4619625.892857
 Technology     DLB            8.202134    245391.071429
 Technology     IBM            8.185418   3291941.339286
 Technology     FIS            8.170227   2272419.642857
 Technology     ACN            7.287930   1248614.285714
 Technology    MSFT            6.181565  15980571.428571,
            Tickers  Standard Deviation           Volume
 Sectors
 Healthcare    MRNA           29.557239  12312961.607143
 Healthcare    SAGE           21.893959    408834.821429
 Healthcare    CRSP           19.878907    866942.857143
 Healthcare     BNR           14.742936    170184.821429
 Healthcare    REGN           10.685695         525787.5
 Healthcare    RPRX            7.964049   1553907.142857,
             Tickers  Standard Deviation          Volume
 Sectors
 Real Estate      WY           12.459817  2614102.678571
 Real Estate    INVH            9.001291  2647436.607143
 Real Estate     PLD            7.375227  1583982.142857
 Real Estate     ARE            6.345774   468623.214286,
             Tickers  Standard Deviation          Volume
 Sectors
 Industrials     RTX           10.057362  3280591.071429
 Industrials      DE            9.367448      1077456.25
 Industrials     UPS            9.123710  1871184.821429
 Industrials     CAT            8.220692  2384585.714286
 Industrials     HON            7.298749  1806290.178571,
           Tickers  Standard Deviation          Volume
 Sectors
 Utilities     PPL            7.565458  3058130.357143
 Utilities     AGR            6.203749   360549.107143
 Utilities       D            5.755643  2248659.821429
 Utilities     XEL            5.699939  2043875.892857
 Utilities     FTS            4.951813   228649.107143,
                        Tickers  Standard Deviation           Volume
 Sectors
 Communication Services    MTCH           11.158576       2588818.75
 Communication Services     DIS           10.472237   6022864.285714
 Communication Services    NFLX            8.848697   2572834.821429
 Communication Services    GOOG            8.292007    723633.035714
 Communication Services   CMCSA            7.988794      10583018.75
 Communication Services      EA            6.754570   1809875.892857
 Communication Services       T            6.314876      24657718.75
 Communication Services      VZ            3.829260  11538028.571429,
                 Tickers  Standard Deviation          Volume
 Sectors
 Basic Materials     DOW           12.375451       3440787.5
 Basic Materials     BBL           10.700213  1752149.107143
 Basic Materials     ECL            9.156488   643558.928571
 Basic Materials     NEM            9.044090  3844217.857143
 Basic Materials     APD            6.930421   660522.321429,
                    Tickers  Standard Deviation          Volume
 Sectors
 Consumer Defensive     HLF           12.252129   709547.321429
 Consumer Defensive      EL            8.412227       699956.25
 Consumer Defensive     PEP            4.903556  2789961.607143
 Consumer Defensive    COST            4.893259  1203228.571429
 Consumer Defensive      PG            4.337722  4636135.714286]

In [29]:
def get_correlations(sector, sector_list):
    
    returned_list = [sector]
    correlation_list = []
    
    sector_df = pd.DataFrame()
    
    # filling up the sector monthly returns
    for i in range (0, len(sector)):
        
        # getting ticker name, ticker history, weighted close price
        ticker = yf.Ticker(sector.iloc[i, 0])
        history = ticker.history(start='2019-01-01', end='2021-01-01')
        weighted_ticker_price = history.Close/len(sector)
        sector_df['Weighted Price of ' + sector.iloc[i,0]] = weighted_ticker_price
        
    # calculating value of sector (as if it were a portfolio), monthly returns and standard deviation
    sector_df['Value of Sector'] = sector_df.sum(axis=1)
    sector_df['Monthly Returns'] = sector_df['Value of Sector'].pct_change()*100
    sector_df = sector_df['Monthly Returns']
        
    # getting the correlations of the rest of the sectors
    for j in range (0, len(sector_list)):
        
        # temporary dataframe to store values
        temp = pd.DataFrame()
        correlation = pd.DataFrame()
    
        # dataframe with each stock in a specific sector
        init_sector = sector_list[j]
    
        # for-loop for each stock in a sector
        for k in range (0, len(init_sector)):
                
            # getting ticker name, ticker history, weighted close price
            ticker = yf.Ticker(init_sector.iloc[k, 0])
            history = ticker.history(start='2019-01-01', end='2021-01-01')
            weighted_ticker_price = history.Close/len(init_sector)
            temp['Weighted Price of ' + init_sector.iloc[k,0]] = weighted_ticker_price
                
        # calculating value of sector (as if it were a portfolio), monthly returns and standard deviation
        temp['Value of Sector'] =  temp.sum(axis=1)
        temp['Monthly Returns'] = temp['Value of Sector'].pct_change()*100
        temp = temp['Monthly Returns']
        
        combined = pd.concat([sector_df, temp], join='inner', axis=1)
        correlation = combined.corr().iloc[0, 1]
        
        correlation_list.append([init_sector.index[0], correlation, sector_list[j]])
    
    correlation_list.sort(key=lambda x: x[1], reverse=True)
    
    for l in range (0, len(correlation_list)):
        correlation_sector = correlation_list[l]
        returned_list.append(correlation_sector[2])

    return returned_list

In [30]:
list_of_corr = (get_correlations(high_deviation_sector, new_filtered))

- ENFAU: Data doesn't exist for startDate = 1546318800, endDate = 1609477200
- AFRM: Data doesn't exist for startDate = 1546318800, endDate = 1609477200

In [31]:
list_of_corr

[        Tickers  Standard Deviation          Volume
 Sectors
 Energy      APA           40.706368  6199122.321429
 Energy     FANG           21.792214  1760363.392857,
                    Tickers  Standard Deviation           Volume
 Sectors
 Financial Services      MS           11.786987   5997000.892857
 Financial Services     WFC           11.461630  18843551.785714
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     BAC           10.704365  33489260.714286
 Financial Services     UVE            9.591687          94512.5
 Financial Services     JPM            9.198505   7968159.821429
 Financial Services   ENFAU            1.265157     16160.714286,
             Tickers  Standard Deviation          Volume
 Sectors
 Industrials     RTX           10.057362  3280591.071429
 Industrials      DE            9.367448      1077456.25
 Industrials     UPS            9.123710  1871184.821429
 Industrials     CAT            8.220692  2384585.714286
 Industrials     HON            7.298749  1806290.178571,
            Tickers  Standard Deviation           Volume
 Sectors
 Technology    ENPH           25.089947   1315490.178571
 Technology    IRBT           19.867428    303866.071429
 Technology    SEDG           16.550347         420087.5
 Technology    FSLR           13.744463   1233092.857143
 Technology    AFRM           12.574363   7492038.392857
 Technology    AAPL           10.793171  55696846.428571
 Technology    INFY            9.887727   4619625.892857
 Technology     DLB            8.202134    245391.071429
 Technology     IBM            8.185418   3291941.339286
 Technology     FIS            8.170227   2272419.642857
 Technology     ACN            7.287930   1248614.285714
 Technology    MSFT            6.181565  15980571.428571,
                 Tickers  Standard Deviation          Volume
 Sectors
 Basic Materials     DOW           12.375451       3440787.5
 Basic Materials     BBL           10.700213  1752149.107143
 Basic Materials     ECL            9.156488   643558.928571
 Basic Materials     NEM            9.044090  3844217.857143
 Basic Materials     APD            6.930421   660522.321429,
             Tickers  Standard Deviation          Volume
 Sectors
 Real Estate      WY           12.459817  2614102.678571
 Real Estate    INVH            9.001291  2647436.607143
 Real Estate     PLD            7.375227  1583982.142857
 Real Estate     ARE            6.345774   468623.214286,
                        Tickers  Standard Deviation           Volume
 Sectors
 Communication Services    MTCH           11.158576       2588818.75
 Communication Services     DIS           10.472237   6022864.285714
 Communication Services    NFLX            8.848697   2572834.821429
 Communication Services    GOOG            8.292007    723633.035714
 Communication Services   CMCSA            7.988794      10583018.75
 Communication Services      EA            6.754570   1809875.892857
 Communication Services       T            6.314876      24657718.75
 Communication Services      VZ            3.829260  11538028.571429,
                    Tickers  Standard Deviation          Volume
 Sectors
 Consumer Defensive     HLF           12.252129   709547.321429
 Consumer Defensive      EL            8.412227       699956.25
 Consumer Defensive     PEP            4.903556  2789961.607143
 Consumer Defensive    COST            4.893259  1203228.571429
 Consumer Defensive      PG            4.337722  4636135.714286,
           Tickers  Standard Deviation          Volume
 Sectors
 Utilities     PPL            7.565458  3058130.357143
 Utilities     AGR            6.203749   360549.107143
 Utilities       D            5.755643  2248659.821429
 Utilities     XEL            5.699939  2043875.892857
 Utilities     FTS            4.951813   228649.107143,
            Tickers  Standard Deviation           Volume
 Sectors
 Healthcare    MRNA           29.557239  12312961.607143
 Healthcare    SAGE           21.893959    408834.821429
 Healthcare    CRSP           19.878907    866942.857143
 Healthcare     BNR           14.742936    170184.821429
 Healthcare    REGN           10.685695         525787.5
 Healthcare    RPRX            7.964049   1553907.142857]

In [32]:
ticker_list = pd.concat(list_of_corr)

In [33]:
ticker_list = ticker_list[:10]
ticker_list

                   Tickers  Standard Deviation           Volume
Sectors
Energy                 APA           40.706368   6199122.321429
Energy                FANG           21.792214   1760363.392857
Financial Services      MS           11.786987   5997000.892857
Financial Services     WFC           11.461630  18843551.785714
Financial Services     BAC           10.704365  33489260.714286
Financial Services     BAC           10.704365  33489260.714286
Financial Services     UVE            9.591687          94512.5
Financial Services     JPM            9.198505   7968159.821429
Financial Services   ENFAU            1.265157     16160.714286
Industrials            RTX           10.057362   3280591.071429

In [34]:
def get_returns (ticker):
    stock = yf.Ticker(ticker)
    start_date = '2019-01-01'
    end_date = '2021-11-01'
    history = stock.history(start=start_date, end=end_date)
    prices = pd.DataFrame({ticker: history['Close']})
    prices = prices.resample('MS').ffill()
    prices = prices.pct_change()
    return prices

get_returns ('OXY')

#return_list = get_returns(ticker_list.iloc[0,0])

                 OXY
Date
2019-01-01       NaN
2019-02-01       NaN
2019-03-01 -0.007202
2019-04-01  0.006464
2019-05-01 -0.144388
2019-06-01 -0.134134
2019-07-01  0.016367
2019-08-01  0.068100
2019-09-01 -0.182246
2019-10-01  0.024473
2019-11-01 -0.033813
2019-12-01 -0.087964
2020-01-01  0.090531
2020-02-01 -0.036156
2020-03-01 -0.175730
2020-04-01 -0.662020
2020-05-01  0.418994
2020-06-01 -0.093832
2020-07-01  0.261405
2020-08-01 -0.095922
2020-09-01 -0.207116
2020-10-01 -0.223599
2020-11-01 -0.056818
2020-12-01  0.657174
2021-01-01  0.144683
2021-02-01  0.177932
2021-03-01  0.355567
2021-04-01 -0.009074
2021-05-01 -0.073776
2021-06-01  0.122634
2021-07-01  0.154593
2021-08-01 -0.205721
2021-09-01 -0.039081
2021-10-01  0.242524

In [35]:
return_list = get_returns(ticker_list.iloc[0,0])

In [36]:
i = 1
for i in range (len(ticker_list)):
    ticker = ticker_list.iloc[i,0]
    add_returns = get_returns (ticker)
    return_list = pd.concat([return_list, add_returns], join = 'inner', axis = 1)

In [37]:
return_list = return_list.iloc[: , 1:]

In [38]:
return_list

,APA,FANG,MS,WFC,BAC,BAC,UVE,JPM,ENFAU,RTX
Date,,,,,,,,,,
2021-01-01,0.147130,0.214555,0.159970,0.075552,0.063050,0.063050,0.088056,0.061216,NaN,0.003931
2021-02-01,0.067066,0.197934,-0.007472,-0.006296,-0.011547,-0.011547,-0.109199,0.027414,NaN,-0.063628
2021-03-01,0.291005,0.270438,0.169795,0.240659,0.194593,0.194593,0.095840,0.161086,-0.010577,0.117347
2021-04-01,-0.034324,0.108880,-0.011875,0.068482,0.108861,0.108861,-0.009173,0.021329,-0.029155,0.039269
2021-05-01,0.062571,0.006279,0.059840,0.136765,0.026336,0.026336,-0.035937,0.006544,0.003003,0.077122
2021-06-01,0.153000,0.065047,0.115809,0.051345,0.058969,0.058969,0.015021,0.079579,-0.000998,0.075515
2021-07-01,-0.049436,0.149983,-0.000977,-0.039145,-0.028079,-0.028079,0.004286,-0.054020,0.025974,-0.031127
2021-08-01,-0.143397,-0.225602,0.050690,0.011671,-0.076553,-0.076553,0.018730,-0.028173,0.009737,0.008467
2021-09-01,0.016000,-0.038506,0.086789,-0.050084,0.073775,0.073775,-0.016949,0.052313,-0.015429,-0.026972
2021-10-01,0.144357,0.333064,-0.050427,0.082163,0.051245,0.051245,-0.067529,0.046394,0.010774,0.040190

In [39]:
corr = return_list.corr()
corr

,APA,FANG,MS,WFC,BAC,BAC,UVE,JPM,ENFAU,RTX
APA,1.000000,0.712521,0.514378,0.703036,0.738839,0.738839,0.311667,0.886264,-0.182699,0.558999
FANG,0.712521,1.000000,-0.073714,0.394191,0.510803,0.510803,-0.006957,0.464480,0.016776,0.138028
MS,0.514378,-0.073714,1.000000,0.435478,0.464701,0.464701,0.810036,0.634752,-0.280125,0.423711
WFC,0.703036,0.394191,0.435478,1.000000,0.678713,0.678713,0.445713,0.671786,-0.261437,0.867984
BAC,0.738839,0.510803,0.464701,0.678713,1.000000,1.000000,0.441440,0.857752,-0.694374,0.619982
BAC,0.738839,0.510803,0.464701,0.678713,1.000000,1.000000,0.441440,0.857752,-0.694374,0.619982
UVE,0.311667,-0.006957,0.810036,0.445713,0.441440,0.441440,1.000000,0.428397,-0.179487,0.460502
JPM,0.886264,0.464480,0.634752,0.671786,0.857752,0.857752,0.428397,1.000000,-0.511570,0.584571
ENFAU,-0.182699,0.016776,-0.280125,-0.261437,-0.694374,-0.694374,-0.179487,-0.511570,1.000000,-0.293796
RTX,0.558999,0.138028,0.423711,0.867984,0.619982,0.619982,0.460502,0.584571,-0.293796,1.000000

In [40]:
highest_corr = pd.DataFrame({'test':corr[corr.columns[0]].nlargest(2)})
highest_corr

         test
APA  1.000000
JPM  0.886264

In [42]:
def stock_df (ticker, value, num):
    myhistory = yf.Ticker(ticker).history(start='2021-05-19', end='2021-11-30', interval= '1d')
    data= {'Ticker': ticker,
           'Price': myhistory.loc['2021-11-24', 'Close'],
           'Shares': value/myhistory.loc['2021-11-24', 'Close'],
           'Values': value, 'Weight (Percent)': [value/1000]}
    grades= pd.DataFrame(data,index=[num])
    return grades

stock1 = stock_df (highest_corr.index[0], 35000, 1)
stock2 = stock_df (highest_corr.index[1], 25000, 2)

In [43]:
ticker_list = ticker_list[ticker_list.Tickers != highest_corr.index[0]]

In [44]:
ticker_list = ticker_list[ticker_list.Tickers != highest_corr.index[1]]

In [45]:
ticker_list

                   Tickers  Standard Deviation           Volume
Sectors
Energy                FANG           21.792214   1760363.392857
Financial Services      MS           11.786987   5997000.892857
Financial Services     WFC           11.461630  18843551.785714
Financial Services     BAC           10.704365  33489260.714286
Financial Services     BAC           10.704365  33489260.714286
Financial Services     UVE            9.591687          94512.5
Financial Services   ENFAU            1.265157     16160.714286
Industrials            RTX           10.057362   3280591.071429

In [46]:
FinalPortfolio = stock1.append(stock2)

i = 0
for i in range (8):
    add_stock = stock_df(ticker_list.iloc[i,0], 5000, i+3)
    FinalPortfolio = FinalPortfolio.append(add_stock)
    
total = pd.DataFrame({'Ticker': 'N/A',
                      'Price': 'N/A',
                      'Shares': 'N/A',
                      'Values': sum(FinalPortfolio.Values),
                      'Weight (Percent)': sum(FinalPortfolio['Weight (Percent)'])}, index=[11])

In [47]:
FinalPortfolio = FinalPortfolio.append(total)

In [48]:
FinalPortfolio

   Ticker       Price       Shares  Values  Weight (Percent)
1     APA   28.610001  1223.348453   35000              35.0
2     JPM  166.960007   149.736458   25000              25.0
3    FANG  114.199997    43.782838    5000               5.0
4      MS  101.120003    49.446201    5000               5.0
5     WFC   51.310001    97.446889    5000               5.0
6     BAC   47.630001   104.975853    5000               5.0
7     BAC   47.630001   104.975853    5000               5.0
8     UVE        15.7   318.471341    5000               5.0
9   ENFAU      10.355   482.858544    5000               5.0
10    RTX   87.190002    57.346024    5000               5.0
11    N/A         N/A          N/A  100000             100.0

In [49]:
FinalPortfolio.drop(FinalPortfolio.tail(1).index,inplace=True)

In [50]:
FinalPortfolio.reset_index(inplace=True)

In [51]:
FinalPortfolio

   index Ticker       Price       Shares  Values  Weight (Percent)
0      1    APA   28.610001  1223.348453   35000              35.0
1      2    JPM  166.960007   149.736458   25000              25.0
2      3   FANG  114.199997    43.782838    5000               5.0
3      4     MS  101.120003    49.446201    5000               5.0
4      5    WFC   51.310001    97.446889    5000               5.0
5      6    BAC   47.630001   104.975853    5000               5.0
6      7    BAC   47.630001   104.975853    5000               5.0
7      8    UVE        15.7   318.471341    5000               5.0
8      9  ENFAU      10.355   482.858544    5000               5.0
9     10    RTX   87.190002    57.346024    5000               5.0

In [52]:
Stocks = pd.concat([FinalPortfolio['index'], FinalPortfolio['Ticker'], FinalPortfolio['Shares']], join='inner',axis=1)
Stocks.columns=['','Ticker','Shares']

In [53]:
Stocks

      Ticker       Shares
0   1    APA  1223.348453
1   2    JPM   149.736458
2   3   FANG    43.782838
3   4     MS    49.446201
4   5    WFC    97.446889
5   6    BAC   104.975853
6   7    BAC   104.975853
7   8    UVE   318.471341
8   9  ENFAU   482.858544
9  10    RTX    57.346024

In [54]:
Stocks.to_csv('Stocks_Group_16.csv', encoding='utf-8', index=False)

In [57]:
# getting the monthly returns of each sector
def find_returns(df):
    
    # sectors without any tickers inside of them
    if (len(df) == 0):
        return None
    
    # sectors with tickers inside of them
    else:
        
        # creating a temporary dataframe (with the first value)
        init_frame = pd.DataFrame()
        
        if (len(df) == 1):
            init_frame['Monthly Returns'] = init_frame['Close Prices'].pct_change()
            return init_frame['Monthly Returns']
    
        else:
            # looping through the sectors to get the monthly returns
            for i in range (0, len(df)-1):
                ticker = yf.Ticker(df.iloc[i, 0])
                ticker_hist = ticker.history(start="2019-01-01", end="2021-01-01")
                ticker_close = ticker_hist['Close']
            
                # adding the close prices of each stock
                init_frame['Close Prices'] = init_frame['Close Prices'] + ticker_close
        
                # calculating the monthly returns
                init_frame['Monthly Returns'] = init_frame['Close Prices'].pct_change()
        
                # returning the monthly returns
                return init_frame['Monthly Returns']
    
    return 0

In [58]:
correlation = pd.DataFrame()
correlation['Energy Monthly Returns (%)'] = find_returns(energy_list)
correlation['Financial Services Monthly Returns (%)'] = find_returns(financial_list)
correlation['Technology Monthly Returns (%)'] = find_returns(tech_list)
correlation['Healthcare Monthly Returns (%)'] = find_returns(healthcare_list)
correlation['Real Estate Monthly Returns (%)'] = find_returns(estate_list)
correlation['Industrials Monthly Returns (%)'] = find_returns(industry_list)
correlation['Utilities Monthly Returns (%)'] = find_returns(utilities_list)
correlation['Communication Services Monthly Returns (%)'] = find_returns(communication_list)
correlation['Materials Monthly Returns (%)'] = find_returns(materials_list)
correlation['Consumer Defensive Monthly Returns (%)'] = find_returns(consumer_list)

print(correlation.corr())

KeyError: 'Close Prices'

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Alex Liu, Stephen Chen, Bhavya Shah