In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 16
### Team Member Names: Stephen Chen, Bhavya Shah, Alex Liu
### Team Strategy Chosen: RISKY?__________(RISKY OR SAFE)

In [2]:
# Importing csv file with tickers and reformatting dataframe
ticker_list = pd.read_csv("Tickers.csv")
add_columns = pd.DataFrame({ticker_list.columns[0]:ticker_list.columns[0]}, index=[len(ticker_list)])
ticker_list = ticker_list.append(add_columns)
ticker_list.columns=['Tickers']

In [3]:
ticker_list

   Tickers
0     ABBV
1      ABT
2      ACN
3      AGN
4      AIG
..     ...
57     UNH
58     UNP
59     UPS
60     USB
61    AAPL

[62 rows x 1 columns]

In [4]:
sector_list = pd.DataFrame(columns = ['Sectors'])

def get_deviation(ticker):
    stock_ticker = ticker
    stock_hist = stock_ticker.history(start='2019-01-01', end='2021-07-01')    
    return stock_hist['Close'].std()

i = 0

for i in range (len(ticker_list)):
    stock = yf.Ticker(ticker_list.iloc[i, 0])
    sector = stock.info.get('sector')
    add_data = pd.DataFrame({'Sectors':sector,
                             'Standard Deviation': get_deviation(stock)},index=[i])
    sector_list = sector_list.append(add_data)

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted

In [5]:
ticker_list = pd.concat([ticker_list, sector_list], join='inner',axis=1)

In [6]:
ticker_list = ticker_list[ticker_list.Sectors.notnull()]
ticker_list.set_index('Sectors', inplace=True)

In [7]:
ticker_list

                        Tickers  Standard Deviation
Sectors
Healthcare                 ABBV           15.531777
Healthcare                  ABT           16.292554
Technology                  ACN           40.702581
Financial Services          AIG            9.304261
Consumer Cyclical          AMZN          670.251723
Financial Services          AXP           19.733866
Industrials                  BA           86.688335
Financial Services          BAC            5.489330
Healthcare                 BIIB           37.363508
Financial Services           BK            5.545070
Financial Services          BLK          143.352854
Healthcare                  BMY            7.652741
Financial Services            C           10.746483
Industrials                 CAT           38.676574
Consumer Defensive           CL            6.873169
Communication Services    CMCSA            6.331035
Financial Services          COF           25.826964
Energy                      COP           10.335786
Consumer Defensive         COST           52.159635
Technology                 CSCO            4.858735
Healthcare                  CVS            9.262210
Consumer Cyclical            GM           10.571425
Communication Services     GOOG          397.476396
Financial Services          JPM           21.602003
Energy                      KMI            2.313739
Consumer Defensive           KO            4.003187
Healthcare                  LLY           32.652375
Industrials                 LMT           35.805188
Consumer Defensive           MO            4.324744
Financial Services          MON            0.068636
Healthcare                  MRK            3.732983
Financial Services           MS           15.703880
Technology                 MSFT           47.361481
Utilities                   NEE           11.601188
Consumer Cyclical           NKE           22.544736
Technology                 ORCL            8.567385
Energy                      OXY           16.148199
Consumer Defensive          PEP           10.933592
Healthcare                  PFE            2.623558
Consumer Defensive           PG           14.402809
Consumer Defensive           PM            8.572384
Financial Services         PYPL           62.536603
Technology                 QCOM           32.014050
Technology              SHOP.TO          501.447116
Consumer Cyclical          SBUX           14.596952
Energy                      SLB            8.584740
Utilities                    SO            5.939180
Real Estate                 SPG           36.083988
Communication Services        T            2.732932
Financial Services        TD.TO            8.465007
Consumer Defensive          TGT           46.548592
Technology                  TXN           28.651182
Healthcare                  UNH           53.881059
Industrials                 UNP           24.830200
Industrials                 UPS           35.668688
Financial Services          USB            8.031946
Technology                 AAPL           33.125363

In [8]:
def sort_list (industry_list, industry):
    industry_list = ticker_list.filter(like = industry, axis=0)
    industry_list = industry_list.sort_values(by=['Standard Deviation'], ascending = False)
    return industry_list

In [9]:
energy_list = sort_list (ticker_list, 'Energy')
energy_list

        Tickers  Standard Deviation
Sectors
Energy      OXY           16.148199
Energy      COP           10.335786
Energy      SLB            8.584740
Energy      KMI            2.313739

In [10]:
financial_list = sort_list (ticker_list, 'Financial Services')
financial_list

                   Tickers  Standard Deviation
Sectors
Financial Services     BLK          143.352854
Financial Services    PYPL           62.536603
Financial Services     COF           25.826964
Financial Services     JPM           21.602003
Financial Services     AXP           19.733866
Financial Services      MS           15.703880
Financial Services       C           10.746483
Financial Services     AIG            9.304261
Financial Services   TD.TO            8.465007
Financial Services     USB            8.031946
Financial Services      BK            5.545070
Financial Services     BAC            5.489330
Financial Services     MON            0.068636

In [11]:
tech_list = sort_list (ticker_list, 'Technology')
tech_list

            Tickers  Standard Deviation
Sectors
Technology  SHOP.TO          501.447116
Technology     MSFT           47.361481
Technology      ACN           40.702581
Technology     AAPL           33.125363
Technology     QCOM           32.014050
Technology      TXN           28.651182
Technology     ORCL            8.567385
Technology     CSCO            4.858735

In [12]:
healthcare_list = sort_list (ticker_list, 'Healthcare')
healthcare_list

           Tickers  Standard Deviation
Sectors
Healthcare     UNH           53.881059
Healthcare    BIIB           37.363508
Healthcare     LLY           32.652375
Healthcare     ABT           16.292554
Healthcare    ABBV           15.531777
Healthcare     CVS            9.262210
Healthcare     BMY            7.652741
Healthcare     MRK            3.732983
Healthcare     PFE            2.623558

In [13]:
estate_list = sort_list (ticker_list, 'Real Estate')
estate_list

            Tickers  Standard Deviation
Sectors
Real Estate     SPG           36.083988

In [14]:
industry_list = sort_list (ticker_list, 'Industrials')
industry_list

            Tickers  Standard Deviation
Sectors
Industrials      BA           86.688335
Industrials     CAT           38.676574
Industrials     LMT           35.805188
Industrials     UPS           35.668688
Industrials     UNP           24.830200

In [15]:
utilities_list = sort_list(ticker_list, 'Utilities')
utilities_list

          Tickers  Standard Deviation
Sectors
Utilities     NEE           11.601188
Utilities      SO            5.939180

In [16]:
communication_list = sort_list(ticker_list,'Communication Services')
communication_list

                       Tickers  Standard Deviation
Sectors
Communication Services    GOOG          397.476396
Communication Services   CMCSA            6.331035
Communication Services       T            2.732932

In [17]:
materials_list = sort_list(ticker_list,'Basic Materials')
materials_list

Empty DataFrame
Columns: [Tickers, Standard Deviation]
Index: []

In [18]:
consumer_list = sort_list(ticker_list,'Consumer Defensive')
consumer_list

                   Tickers  Standard Deviation
Sectors
Consumer Defensive    COST           52.159635
Consumer Defensive     TGT           46.548592
Consumer Defensive      PG           14.402809
Consumer Defensive     PEP           10.933592
Consumer Defensive      PM            8.572384
Consumer Defensive      CL            6.873169
Consumer Defensive      MO            4.324744
Consumer Defensive      KO            4.003187

In [19]:
ticker_list = pd.concat([energy_list, financial_list, tech_list, healthcare_list, estate_list,industry_list, utilities_list,communication_list,
                         materials_list, consumer_list])

In [20]:
ticker_list = ticker_list[:10]
ticker_list

                   Tickers  Standard Deviation
Sectors
Energy                 OXY           16.148199
Energy                 COP           10.335786
Energy                 SLB            8.584740
Energy                 KMI            2.313739
Financial Services     BLK          143.352854
Financial Services    PYPL           62.536603
Financial Services     COF           25.826964
Financial Services     JPM           21.602003
Financial Services     AXP           19.733866
Financial Services      MS           15.703880

In [21]:
FinalPortfolio = pd.DataFrame(columns = ['Ticker', 'Price', 'Shares', 'Value', 'Weight'],index=[0])
FinalPortfolio

  Ticker Price Shares Value Weight
0    NaN   NaN    NaN   NaN    NaN

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.